
  <input type="hidden" id="profile_id" value="<%= @user.id %>">

  <div class="container-fluid"  id="header">

    <h1 class="brand">
      <div data-no-turbolink>
      <a href="/users/main">
        <img src="http://i.imgur.com/g8Z3uqu.png"/>
        writeaway.
      </a>
    </div>
    </h1>
  </div>
  <div class="container-fluid">


    <div class="friend-view">
      <div class="row">
          <div class="col-sm-2">
            <img src="<%= @user.image_url %>" class="img-circle user-profile-picture"/>

          </div>

      </div>

      <div class="row">
          <div class="col-sm-2">
            <h3 class="text-left">
              <%= @user.username %>
            </h3>
          </div>
      </div>

      <div class="row edit-row">
        <div class="col-xs-6">
          <form class="" action="/users/<%= @user.id %>" method="post">
            <input type="hidden" name="_method" value="put">
            <div class="form-group text-left">
              <label for="edit-username" class="prompt-label">Username</label><br>
              <input type="text" name="user[username]" value="<%= @user.username %>" class="form-control">
            </div>
            <div class="form-group text-left">
              <label class="prompt-label">Profile Image URL</label><br>
              <input type="text" name="user[image_url]" value="<%= @user.image_url %>" class="form-control">
            </div>
            <div class="form-group text-left">
              <label class="prompt-label">Where are you from?</label><br>
              <input type="text" name="user[from]" value="<%= @user.from %>" class="form-control">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group text-left">
              <label class="prompt-label">Favorite Books</label><br>
              <input type="text" name="user[favorite_book]" value="<%= @user.favorite_book %>" class="form-control">
            </div>
            <div class="form-group text-left">
              <label class="prompt-label">Favorite Authors</label><br>
              <input type="text" name="user[favorite_author]" value="<%= @user.favorite_author %>" class="form-control">
            </div>
            <div class="form-group text-left">
              <label class="prompt-label">Favorite Genre</label><br>
              <input type="text" name="user[favorite_genre]" value="<%= @user.favorite_genre %>" class="form-control">
            </div>
          </div>
        </div>

        <div class="row edit-row">
          <div class="col-xs-12">
            <div class="form-group text-left">
              <label class="prompt-label">What is your writing goal?</label><br>
              <input type="text" name="user[writing_goal]" value="<%= @user.writing_goal %>" class="form-control">
            </div>
            <div class="form-group text-left">
              <label class="prompt-label">What are you reading?</label><br>
              <input type="text" name="user[currently_reading]" value="<%= @user.currently_reading %>" class="form-control">
            </div>
          </div>
        </div>

        <div class="row edit-row">
          <div class="col-xs-12">
            <div class="form-group text-left">
              <label class="prompt-label">Tell us about yourself.</label><br>
              <textarea type="text" name="user[about]" value="<%= @user.about %>" class="form-control" rows="6"></textarea>
            </div>
          </div>
        </div>

        <div class="row edit-row">
          <div class="col-sm-3 col-sm-offset-9">
            <div class="form-group">
              <input type="submit" class="btn btn-default" value="Update">
            </div>
          </div>
        </div>

          </form>

    </div>


  </div>

<!-- Edit Page -->
