<input type="hidden" id="api-token" value="<%= @user.token %>" name="token">

<div class="container-fluid">

  <input type="hidden" id="current_user" value="<%= @current_user.username %>">
  <input type="hidden" id="current_id" value="<%= @current_user.id %>">

  <input type="hidden" id="profile_id" value="<%= @user.id %>">


  <!-- Nav Bar -->
  <nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container-fluid"  id="header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="home-page" data-no-turbolink><a href="/" >Write Away</a></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id="username"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-username" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="<%= @current_user.image_url %>" class="img-circle profile-picture"/>
            <%= @current_user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="add-friends"><a>Add Friends</a></li>
            <li class="render-friends"><a>Challenges</a></li>
            <li role="separator" class="divider"></li>
              <li><%= link_to 'Log Out', '/sessions', method: :delete  %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>


  <!-- Profile Page -->
  <div class="container-fluid" id="profile-page">

    <div class="row profile-header">
      <div class="col-xs-8">
        <h3><img src="<%=@user.image_url%>" class="img-circle profile-picture"/><%= @user.username %></h3>
      </div>
      <div class="col-xs-4">
        <div class="profile-header-button-container">
          <!-- Edit (if user) / Add Friend (if not Friends) / or Nothing goes Here -->
        </div>

      </div>

    </div>

    <div class="row">
      <%= link_to "Back", main_path %>

      <!-- Left -->
      <div class="col-xs-12">
            <div id="user-profile">

            <% if @user.id = @current_user.id %>
            <a href="/users/edit">Edit</a>
            <% end %>

            <div class="row">
              <div class="col-xs-6">
                Posts: <%= @user.posts.length %>
              </div>
              <div class="col-xs-6">
                Critiques: <%= @user.critiques.length %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                From: <%= @user.from %>
              </div>
              <div class="col-xs-6">
                Currently Reading: <%= @user.currently_reading %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                Favorite Book: <%= @user.favorite_book %>
              </div>
              <div class="col-xs-6">
                Favorite Author: <%= @user.favorite_author %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                Favorite Genre: <%= @user.favorite_genre %>
              </div>
            </div>


            <div class="row">
              <div class="col-xs-12">
                About: <%= @user.about %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                Writing Goal: <%= @user.writing_goal %>
              </div>
            </div>

          </div>

        </div>
      </div>

      <!-- Right Pane -->
      <div class="row">
        <div class="col-xs-12">
            <div id="post-list"></div>
        </div>
      </div>

    </div>

  </div>



</div>
