<input type="hidden" id="api-token" value="<%= @user.token %>" name="token">


  <h3><img src="<%=@user.image_url%>" alt=""/><%= @user.username %></h3>

  <div class="row">
    <div class="col-xs-6">
      <%= @user.from %>
    </div>
    <div class="col-xs-6">
      <%= @user.currently_reading %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= @user.favorite_book %>
    </div>
    <div class="col-xs-6">
      <%= @user.favorite_author %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= @user.favorite_genre %>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <%= @user.about %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= @user.writing_goal %>
    </div>
  </div>


<% @user.inverse_friends.each do |follower| %>
<div class="row">
  <div class="col-xs-12">
    <%= follower.username %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div id="post-list">

    </div>
  </div>
</div>
