<br><br><br><br><br>


<h3><%= @user.username %> Post Page</h3>

<p>
  <%= @post.message %>
</p>

<div id="post-list" data="<%= @post.id %>">

</div>



<h4>
<%= @user.username %>
</h4>

<ul>
  <%@user.friends.each do |friend|%>
  <li>
    <%= friend.username %>
  </li>
  <% end %>
</ul>


<ul>
  <%@allusers.each do |user|%>
  <li>
    <%= user.username %>
    <form action="/api/friendships/request" method="post">
      <input type="hidden" name="friendship[friend_id]" value="<%=user.id%>">
      <input type="hidden" name="friendship[user_id]" value="<%=@user.id%>">
      <input type="submit" value="Add Friend">
    </form>
  </li>
  <% end %>
</ul>

<ul>
  <% @friendships.each do |friendship| %>
  <li>
    <%= friendship.user_id %> | <%= friendship.friend_id %>
  </li>
  <% end %>
</ul>
