<html>
<head>
  <title>Profile View</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Post Template -->
  <script type="text/template" id='post-template'>
    <h3 class="post-header">
        <!-- username rendered here -->
    </h3>
    <button type="button" class='remove-post btn btn-info'>
      Remove
    </button>

      <div class="post-box">
        <p>
          Prompt Type: <%%= prompt_type %>
        </p>
        <p>
          Prompt: <%%= prompt %>
        </p>
        <p>
          Word Count: <%%= word_count %>
        </p>
        <p>
          Post:  <%%= message %>
        </p>

      </div>

    <button type="button" class='make-critique btn btn-info'>
      Make Critique
    </button>
    <button type="button" class='render-critiques btn btn-success'>
      Show Critiques
    </button>
  </script>


  <!-- Critique -->
    <script type="text/template" id="critique-template">
      <div class="critique-message">
          <%%= message %>
        <button type="button" class='remove-critique btn btn-danger'>
          X
        </button>
      </div>
    </script>

  <!-- Critique Form -->
    <script type="text/template" id="critique-form-template">
      <div class="new-critique-form">
        <form id="create-critique">
          <input type="hidden" name="critique[user_id]" value="<%= @user.id %>">
          <textarea class= "form-control" id="critique-message" rows="10" name="critique[message]" placeholder="...enter critique"></textarea>
          <input type="hidden" name="critique[post_id]" id="critique-post-id">
          <input type="submit" value="Submit" class="btn btn-danger">
        </form>
        <button class="close-critique btn btn-danger">close</button>
      </div>
    </script>



    <!-- Render Prompt Form -->
    <script type="text/template" id="prompt-form-template">
      <div class="new-post-box">

        <!-- <div id="stopwatch">0:0:0</div>
            <div id="controls">
              <button id="start">Start</button>
              <but  ton id="stop">Stop</button>
              <button id="reset">Reset</button>
            </div> -->

        <div id="prompt-container">
        </div>
            <label for="choose-type">Choose Type</label>
            <select class="form-control input-lg" id="choose-type">
                <option>One Word</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <form class="" action="index.html" method="post">
              Word Count: <p id="word-count"></p>
                <input id="post-word-count" type="hidden" name=post[word_count] value="50"/>
                <div id="slider-word-count"></div>
            </form>

        <button class="render-prompt btn btn-primary btn-lg btn-block">Render Prompt</button>
        <button class="btn btn-danger start">Start</button>

      </div>

    </script>

    <!-- Show the Prompt -->
    <script type="text/template" id="writing-prompt-template">
        <h4>
          Use the word: <span class="prompt-text">
            <%%= prompt %>
          </span>
        </h4>
    </script>


    <script type="text/template" id="create-post-template">
      <div class="new-post-box">
      <h3>New Post</h3>
        Character Count: <p class="character-count"></p>
        <h5 id="post-box-prompt"></h5>
        <h4 id="post-box-word-count"> </h4>
        <form id="create-post">
          <div class="form-group">
            <br>
            <textarea class="form-control" id="post-body" rows="10" name="post[message]" placeholder="...post"></textarea>
          </div>
            <input type="submit" value="Post" class="btn btn-danger submit-new-post">
        </form>
      </div>
    </script>

    <script type="text/template" id="friend-view-template">
      <h3><%%= username %></h3>
      <button type="button" class="btn btn-danger remove-friend">Remove Friend</button>
    </script>

    <script type="text/template" id="follower-view-template">
      <h3><%%= username %></h3>
    </script>



    <script type="text/template" id="user-view-template">
      <h3><%%= username %></h3>
      <form class="" action="index.html" method="post">
        <input type="hidden" name="friendship[friend_id]" value="<%%= id %>" class="friend-id-holder">
        <input type="hidden" name="friendship[user_id]" value="<%= @user.id %>" class="user-id-holder">
      </form>
      <button type="button" class="btn btn-danger add-friend">Add Friend</button>
    </script>

    <script type="text/template" id="friend-button-template">
      <button type="button" class="btn btn-danger show-friends">Show Friends</button>
    </script>


    <!-- Main Page -->
    <script type="text/template" id="main-page-template">
      <nav class="navbar navbar-default  navbar-fixed-top">
      <div class="container-fluid"  id="header">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Write Away</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><%= @user.username %></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="add-friends"><a href="">Add Friends</a></li>
                <li class="show-friends"><a>Show Friends</a></li>
                <li class="render-friends"><a>Friends Page</a></li>
                <li role="separator" class="divider"></li>
                  <li><%= link_to 'Log Out', '/sessions', method: :delete  %></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid" id="main-display">

    <div class="row">
      <div class="col-xs-6">
        <div id="left-pane">
          <div class="new-post-box">

          </div>
        </div>

      </div>
        <div class="col-xs-6 ">
          <div id="right-pane">
            <div id="post-list">

            </div>
          </div>
        </div>
    </div>
  </div>
    </script>

<script type="text/template" id="challenge-form-template">
  <div class="new-post-box">

    <!-- <div id="stopwatch">0:0:0</div>
        <div id="controls">
          <button id="start">Start</button>
          <but  ton id="stop">Stop</button>
          <button id="reset">Reset</button>
        </div> -->

    <div id="challenge-container">
    </div>
        <label for="choose-type">Choose Type</label>
        <select class="form-control input-lg" id="choose-type">
            <option>One Word</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <form id="create-challenge">
          Word Count: <p id="word-count"></p>
            <input id="challenge-word-count" type="hidden" name=challenge[word_count] value="50"/>
            <div id="slider-challenge-word-count"></div>

    <button class="render-challenge btn btn-primary btn-lg btn-block">Render Challenge</button>
    <!-- <button class="btn btn-danger send-challenge">Send Challenge</button> -->
    <input type="submit" value="Send Challenge" class="btn btn-danger send-challenge">
        </form>


  </div>
</script>

    <script type="text/template" id="challenge-template">
      <div class="challenge-message">
          <%%= prompt %>
          <%%= word_count %>
        <button type="button" class='remove-challenge btn btn-danger'>
          X
        </button>
      </div>
    </script>

</head>


<body id="main-page">
  <div class="container-fluid" >
<!--
    <nav class="navbar navbar-default  navbar-fixed-top">
    <div class="container-fluid"  id="header">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Write Away</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="nav navbar-nav navbar-right">
          <li id="friends-navbar"></li>
          <li><a href="#"><%= @user.username %></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
                <li><%= link_to 'Log Out', '/sessions', method: :delete  %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
-->
    <%= yield %>

  </div>

  <%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
</body>
</html>
