<html>
<head>
  <title>Write Away</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>

  <!-- Awesome font icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!--  Header -->
  <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>

  <!-- Title Font -->
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  <!-- Helper Text -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <!-- Post Font -->
  <link href='https://fonts.googleapis.com/css?family=Krona+One|Josefin+Sans:400,400italic,700italic,700' rel='stylesheet' type='text/css'>

  <!-- Romance Font -->
  <link href='https://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>

  <!-- Horror Font -->
  <link href='https://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>

  <!-- Historical Fiction -->
  <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
<!-- Sci Fi -->
  <link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//cdn.quilljs.com/0.19.10/quill.snow.css" />
  <script src="//cdn.quilljs.com/0.19.10/quill.min.js"></script>



<!-- Main Nav Bar -->
    <script type="text/template" id="nav-bar-template">



      <nav class="navbar navbar-default">
  <div class="container-fluid header-bar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand home-page">
        <!-- <img class="typewriter" src="http://i.imgur.com/yXJDIRB.png"/> -->
        <a href="/users/main" class="home-page headline">writeaway.
          <div class="sub-headline"></div>
        </a>

      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="write-nav"><a class="nav-text">Write</a></li> -->
        <li><a href="/users/main" class="nav-text">Main</a></li>
        <li class="show-friends"><a class="nav-text">Authors</a></li>
        <li class="show-challenges"><a class="nav-text">Challenges</a></li>
        <li class="show-resources"><a class="nav-text">Resources</a></li>
        <li class="show-current-user"><a class="nav-text"><img src="<%= @user.image_url %>" class="img-circle profile-picture"</></a></li>


        <!-- Unused Drop Down -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Hmm</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>

      <!-- Search Bar -->

      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->

<!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

          <!-- <div class="row" id="header-row">

            <div class="col-xs-5 col-sm-5 nav-column">
              <div class="write-nav nav-item">
                <img class="typewriter" src="http://i.imgur.com/yXJDIRB.png"/>
                <a class="home-page">writeaway.</a>
              </div>
            </div>

            <div class="col-xs-7 col-sm-7 nav-column text-right">
                <li class="nav-item text-right navbar-link">Write</li>
                <li class="nav-item text-right navbar-link">Read</li>
                <li class="nav-item text-right navbar-link">Following</li>
                <li class="nav-item text-right navbar-link">Challenges</li>
                <li class="nav-item text-right navbar-link">
                  <img src="<%= @user.image_url %>" class="img-circle profile-picture"</>
                </li>
            </div>

          <div class="col-xs-2 col-sm-2 nav-column">
          </div>

          <div class="col-xs-2 col-sm-2 nav-column">
            <div class="nav-item text-center text-center show-current-user">
            <span id="sub-logo" class="hidden-s"><%= @user.username %></span>
            </div>
          </div>

          </div> -->

    </script>

    <!-- Writing Nav -->
    <script type="text/template" id="writing-nav-template">

          <div class="row" id="header-row">

            <div class="col-xs-3 nav-columm">
              <h1 class="home-page brand">
                <!-- <div data-no-turbolink>
                <a href="/users/main"> -->
                  <img src="http://i.imgur.com/g8Z3uqu.png"/>
                <!-- </a>
              </div> -->
              </h1>
            </div>
            <div class="col-xs-6 text-center">
              <div id="prompt-instrustion"><h1 class="brand-font">writeaway.</h1></div>
              <div id="prompt"></div>
            </div>
            <div class="col-xs-2">
              <div class="post-error text-center"></div>
            </div>

            <!-- <div class="col-sm-3">
            </div> -->
            <!-- <div class="col-sm-4 nav-column">
              <h1 class="home-page nav-item text-center">writeaway.</h1>
            </div> -->

          </div>


    </script>


    <script type="text/template" id="resource-page-template">



      <div class="row">
        <div class="col-xs-12">
          <h4 class="text-center">Resources</h4>
        </div>
        <div class="col-xs-8 col-xs-offset-2 friend-nav">
          <div class="btn-group btn-group-justified btn-group-raised">
            <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="all">All</a>
            <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="Article">Articles</a>
            <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="Website">Websites</a>
            <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="Book">Books</a>
            <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="Video">Video</a>
            <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="Other">Other</a>
          </div>
        </div>
        <div class="col-xs-2">
          <a href="javascript:void(0)" class="btn btn-success btn-fab show-resource-form"><i class="fa fa-plus"></i></a>
        </div>
      </div>

      <div id="resource-form-holder">
      </div>


        <!-- Resources List -->


        <div class="row">
          <div class="col-xs-12">
            <div id="resource-list"></div>
          </div>
        </div>


    </script>



    <script id="resource-form-template" type="text/template">
            <!-- Resources Form -->
            <div class="add-resource-form">
              <div class="row">
                <div class="col-xs-10">
                  <h4 class="text-left">Add a New Writing Resource</h4>
                </div>
                <div class="col-xs-2">
                  <a class="remove-form btn btn-danger btn-raised">Cancel</a>
                </div>

              </div>

              <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-sm-offset-1 col-sm-4">
                  <!-- <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput2">Focus to show the help-block</label>
                    <input class="form-control" id="focusedInput2" type="text">
                    <p class="help-block">You should really write something here</p>
                  </div> -->

                  <div class="form-group label-floating">
                  <label for="resource-name" class="label-control">Name</label>
                  <input class="form-control" id="resource-name" type="text" placeholder="Google"></input>
                  </div>
                </div>
                <div class="form-group label-floating">
                  <div class="col-xs-6 col-sm-6">
                    <label for="resource-description" class="label-control">Description</label>
                    <input class="form-control" id="resource-description" type="text" placeholder="an awesome search engine"></input>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-sm-offset-1 col-sm-5">
                  <div class="form-group label-floating">
                    <label for="resource-link" class="label-control">URL </label>
                    <input class="form-control" id="resource-link" type="text" placeholder="http://www.google.com"></input>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-5">
                  <div class="form-group label-floating">
                    <label for="resource-tags" class="label-control">Tags (seperate with comma)</label>
                    <input class="form-control" id="resource-tags" type="text" placeholder="reference, search engine"></input>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-sm-offset-1 col-sm-5">
                  <div class="form-group label-floating">

                    <label for="choose-resource-type" class="label-control">Resource Type</label>
                    <select class="form-control" id="choose-resource-type">
                        <option>Article</option>
                        <option>Website</option>
                        <option>Book</option>
                        <option>Video</option>
                        <option>Other</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-4 text-right">
                  <a id="resource-submit" class="btn btn-raised btn-success">Submit Resource</a>
                </div>
              </div>
            </div>
          </script>

    <script id="resource-view-template" type="text/template">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-8">
              <%%= resource_type || "Type Undefined"  %>
            </div>
            <div class="col-xs-4 text-right">
              <div id="resource-user-info"></div>
              <div id="resource-controls"></div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-2 text-center">
              <i class="fa fa-caret-up fa-5x resource-up-vote vote"></i>
              <div id="resource-votes"></div>
              <i class="fa fa-caret-down fa-5x resource-up-vote vote"></i>
            </div>
            <div class="col-xs-8 text-left">

              <div class="row">
                <div class="col-xs-8">
                  <h3><%%= title %></h3>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-1"></div>
              </div>

              <div class="row">
                <div class="col-xs-7">
                  <h5><%%= description %></h5>
                </div>
                <div class="col-xs-2"></div>
              </div>

              <div class="row">
                <div class="col-xs-7">
                  <h5>
                    <a href="h<%%= link %>"><i class="fa fa-link"></i>&nbsp;<%%= link %></a>
                  </h5>
                </div>
                <div class="col-xs-2"></div>
              </div>

              <div class="row">
                <div class="col-xs-7">
                  <h5>Tags:
                    <%%= tags %></h5>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </script>

    <script type="text/template" id="edit-resource-template">
      <div class="row">
        <div class="col-xs-12">
          Edit Resource
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="resource-name">Title</label>
          <input type="text" id="edit-resource-title" class="form-control"></input>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="resource-description">Description</label>
          <input type="text" id="edit-resource-description" class="form-control"></input>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <label for="resource-link">URL</label>
          <input type="text" id="edit-resource-link" class="form-control"></input>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <label for="resource-tags">Tags (seperate with comma)</label>
          <input type="text" id="edit-resource-tags" class="form-control"></input>
        </div>
      </div>

        <div class="row">
          <div class="col-xs-6 text-left">
            <span class="submit-edited-resource">Cancel</span>
            </div>
            <div class="col-xs-6 text-right">
              <span class="submit-edited-resource">Submit</span>
              </div>
          </div>
    </script>



    <!-- Main Page -->
    <script type="text/template" id="main-page-template">

      <input type="hidden" id="current_user" value="<%= @user.username %>">
      <input type="hidden" id="current_id" value="<%= @user.id %>">

      <div id="header">

        <!-- Navbar is Rendered Here -->

      </div>

    <!-- Main Page Containers -->
    <div class="container-fluid" id="main-display">

    <div class="row">
      <div class="col-xs-12">
        <!-- <div id="top-pane">

        </div> -->
      </div>

    </div>
    <div class="row">

      <!-- Left Side -->
      <div id="left-columns" class="col-md-2 col-lg-2 hidden-xs">
        <div id="left-pane">
        </div>
      </div>

      <!-- Center -->
      <div id="center-columns"class="col-xs-12 col-md-9">
        <div id="center-pane">

          </div>
        </div>
      </div>

      <!-- Footer -->
      <section id="footer">
        <div class="container">
          Write Away
          <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/designmodo" title="Designmodo">Designmodo</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
            fa-twitter on fa-square-o<br>
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
            </span>
            fa-flag on fa-circle<br>
            <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
            </span>
            fa-terminal on fa-square<br>
                  </div>
        </section>



<!-- Close Container -->
    </div>



    </script>



    <!-- Current User -->
    <script type="text/template" id="current-user-template">
      <div class="friend-view">
      <div class="row">
        <div class="col-xs-2 text-left">
          <div class="user-pic-box"></div>
          <br>

          <br>
          <span class="prompt-label">Writer Score: <%%= writer_score %></span>
          <br>
          <span class="prompt-label">Reviewer Score: <%%= reviewer_score %></span>
        </div>
        <div class="col-xs-4 text-left prompt-label">
          <div data-no-turbolink>
            <h3><%%= username %></h3>
          </div>
        </div>

        <div class="col-xs-2 col-xs-offset-2 text-right">
          <div data-no-turbolink>
            <a href="/users/edit">Edit</a>
          </div>
          <%= link_to 'Log Out', '/sessions', method: :delete  %>
        </div>

      </div>


      <div class="row">
        <div class="col-xs-12 text-right">
        </div>
      </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <h4>About the Author</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 text-center">
            <span class="prompt-label">Reading<br> <%%= currently_reading || "nothing" %></span>
            <br>
            <span class="prompt-label">Writing Goal<br> <%%= writing_goal || "nothing" %></span>
          </div>
          <div class="col-xs-6 text-center">
            <span class="prompt-label">Favorite Authors<br> <%%= favorite_author || "nothing" %></span>
            <br>
            <span class="prompt-label">Favorite Books<br> <%%= favorite_book || "nothing" %></span>
            <br>
            <span class="prompt-label">Favorite Genres<br> <%%= favorite_genre || "nothing" %></span>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12"><div class="vertical-space"></div></div>
        </div>

        <div class="row">
          <div class="col-xs-3 text-center">
            <span class="prompt-label">From<br> <%%= from || "nothing" %></span>
          </div>
          <div class="col-xs-9 text-center">
            <span class="prompt-label">About<br><%%= about || "nothing" %></span>
          </div>

        <div class="row">
          <div class="col-xs-12"><div class="user-posts-container"></div></div>
        </div>
      </div>

    </script>


    <!-- Show the Prompt -->
    <script type="text/template" id="writing-prompt-template">
        <h4 class="prompt-text">
            <%%= prompt %>
        </h4>
    </script>



    <!-- Make a New Post -->

    <script type="text/template" id="create-post-template">


          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <!-- Create the toolbar container -->
                <div id="post-toolbar">
                  <span class="ql-format-group">
                    <span title="Bold" class="ql-format-button ql-bold"></span>
                    <span class="ql-format-separator"></span>
                    <span title="Italic" class="ql-format-button ql-italic"></span>
                    <span class="ql-format-separator"></span>
                    <span title="Underline" class="ql-format-button ql-underline"></span>
                  <select title="Text Color" class="ql-color">
                    <option value="rgb(0, 0, 0)" selected></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)"></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                  <select title="Background Color" class="ql-background">
                    <option value="rgb(0, 0, 0)"></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)" selected></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                </div>

                <!-- Create the editor container -->
                <div class="row">
                <div class="col-xs-12">
                  <div id="post-editor" class="post-body">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="progress">
                    <div class="progress-bar progress-bar-info"></div>
                  </div>
                </div>
              </div>


                <!-- <textarea class="form-control" id="post-body" rows="10" name="post[message]" placeholder="...post"></textarea> -->
                <!-- Close Form Group  -->
              </div>

              <!-- Close column and row -->
                </div>
              </div>

              <div class="row">


              </div>

              <!-- Post Title -->
              <div class="row">

              </div>


              <div class="row">
                <!-- <div class="col-xs-2 col-xs-offset-2 text-center">
                  <div id="required-word-count"></div>
                </div> -->

                <div class="col-xs-2  col-xs-offset-3 text-center">
                  <h5>Word Count</h5>
                  <div id="current-word-count" class="writing-page-text">0</div>
                </div>

                <div class="col-xs-2 text-center">
                  <h5>Time Elapsed</h5>
                  <div id="stopwatch" class="writing-page-text">00:00</div>
                </div>

                <div class="col-xs-2 text-center">
                  <h5>WPM</h5>
                  <div id="current-wpm-count" class="writing-page-text">0</div>
                </div>

                <div class="col-xs-2 text-right">
                  <a class="publish btn btn-raised btn-info">Publish</a>
                </div>
              </div>

    </script>

  <!-- Post List Menu -->
    <script type="text/template" id="post-list-menu">
      <!-- <h1 class="post-list-header">Read</h1> -->

      <!-- <div class="row"> -->

        <div class="genre-links">


        <!-- <div class="write-nav">Write</div> -->
        <!-- <div class="sidenav-row write-nav">
          <a class="list-group-item"><i class="fa fa-pencil fa-fw"></i>&nbsp; Write</a>
        </div> -->



        <div class="sort sidenav-row list-group-item home-page" data-url="main">
          <div class="sort-text"><i class="fa fa-dashboard"></i>Main Feed</div>
        </div>

        <!-- <div class="sort sidenav-row list-group-item" data-url="user">
          <div class="sort-text">Your Posts</div>
        </div> -->

        <!-- <div class="sort sidenav-row list-group-item" data-url="friends">
          <div class="sort-text">Friends Post</div>
        </div> -->


        <div class="genres">
        <div class="sort sidenav-row list-group-item" data-url="all">
          <img src="http://i.imgur.com/hR2f8aM.png" class="sort-image"></img>
          <div class="sort-text">All</div>
        </div>
        <div class="sort sidenav-row list-group-item" data-url="Fiction">
          <img src="http://i.imgur.com/BI8PegK.png" class="sort-image"></img>
           <div class="sort-text">Fiction</div>
         </div>
        <div class="sort sidenav-row list-group-item" data-url="Fantasy">
          <img src="http://i.imgur.com/ffCviDQ.png" class="sort-image"></img>
           <div class="sort-text">Fantasy</div>
         </div>
        <div class="sort sidenav-row list-group-item" data-url="Horror">
          <img src="http://i.imgur.com/iJvfYS1.png" class="sort-image"></img>
           <div class="sort-text">Horror</div>
         </div>
        <div class="sort sidenav-row list-group-item" data-url="Thriller">
          <img src="http://i.imgur.com/ojVa8BI.png" class="sort-image"></img>
           <div class="sort-text">Thriller</div>
         </div>
        <div class="sort sidenav-row list-group-item" data-url="Historical-Fiction">
          <img src="http://i.imgur.com/lHyRvye.png" class="sort-image"></img>
          <div class="sort-text">Historical</div>
        </div>
        <div class="sort sidenav-row list-group-item" data-url="Crime">
          <img src="http://i.imgur.com/8w44WhP.png" class="sort-image"></img>
          <div class="sort-text">Crime</div>
        </div>
        <div class="sort sidenav-row list-group-item" data-url="Romance">
          <img src="http://i.imgur.com/zz5QHWN.png" class="sort-image"></img>
           <div class="sort-text">Romance</div>
         </div>

        <div class="sort sidenav-row list-group-item" data-url="Science-Fiction">
          <img src="http://i.imgur.com/K1kGfUE.png" class="sort-image"></img>
           <div class="sort-text">SciFi</div>
         </div>
        <div class="sort sidenav-row list-group-item" data-url="Poetry">
          <img src="http://i.imgur.com/F71bhWM.png" class="sort-image"></img>
          <div class="sort-text">Poetry</div>
        </div>
        <div class="sort sidenav-row list-group-item" data-url="Humor">
          <img src="http://i.imgur.com/Iw9CxT2.png" class="sort-image"></img>
          <div class="sort-text">Humor</div>
        </div>
        <div class="sort sidenav-row list-group-item" data-url="Non-Fiction">
          <img src="http://i.imgur.com/tH5XICv.png" class="sort-image"></img>
          <div class="sort-text">Non-Fiction</div>
        </div>
      </div>


      </div>
    </script>


    <!-- Writing Side Nav -->
      <script type="text/template" id="writing-side-nav">
        <!-- <h1 class="post-list-header">Read</h1> -->

        <!-- <div class="row"> -->
        <div class="writing-nav">

            <h3>Title</h3>

            <div class="form-group">
              <!-- <label for="post-title" class="control-label">Title</label> -->
              <input type="text" id="post-title" class="form-control">
            </div>
              <br>
              <br>

              <h3>Genre</h3>

              <div class="form-group">
              <!-- <label for="choose-genre" class="control-label">Genre</label> -->
              <select class="form-control" id="choose-genre">
                  <option>Fiction</option>
                  <option>Fantasy</option>
                  <option>Historical-Fiction</option>
                  <option>Horror</option>
                  <option>Thriller</option>
                  <option>Crime</option>
                  <option>Romance</option>
                  <option>Science-Fiction</option>
                  <option>Poetry</option>
                  <option>Non-Fiction</option>
              </select>
            </div>
<!-- Close Writing Nav -->
      </div>
      </script>



      <!-- Post  -->
    <script type="text/template" id='post-template'>

      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <div class="post-pic-box text-center">
          </div>

        </div>
        <div class="col-xs-8 text-left">
          <div data-no-turbolink  class="prompt-label text-left" id="title-holder">
            <a href="/users/<%%= user_id || "undefined"%>/posts/<%%= id || "undefined"%>"><%%=title || "Untitled" %></a>
            <div id="post-avg-rating"></div>

            </div>
            <div class="post-info">
            <span class="post-word-count">
            <%%= prompt_type || "" %> | <%%= word_count || "" %> words

          </span>
            <div id="time-completed" class="prompt-label post-word-count"></div>
            <div id="post-prompt" class="prompt-label"></div>
          </div>
        </div>
        <div class="col-xs-2 prompt-label">
          <div class="icon-holder">
            <div class="genre-icon"></div>
            <strong> <%%= genre %> </strong>
            <br>
            <strong id="created-at">Posted  </strong>
          </div>


        </div>
      </div>

        <div class="row">
          <div class="col-xs-4 col-xs-offset-2 text-center prompt-label">
            <br>
            <div data-no-turbolink id="post-author-stats">


          <div class="post-add-friend">

          </div>
          </div>
          </div>

          <div class="col-xs-2 col-xs-offset-2 text-center prompt-label">
            <span id="average-rating">    </span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3">

          </div>
        </div>

        <div class-"row">
          <div class="col-xs-6"></div>
        </div>

        <div class="row">
          <!-- <div class="col-xs-12"><div class="vertical-space"></div></div> -->
        </div>

        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 text-left">
            <!-- <div class="post-prompt-type"></div> -->
          </div>
        </div>


        <div class="row">
          <div class="col-xs-4">

          </div>
          <div class="col-xs-4">
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="post-box prompt-label">
              <br>
              <p class="posted-message">
                <%%= message %>
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <!-- <div class="vertical-space"></div> -->
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1">

          </div>
          <div class="col-xs-6">
          </div>
          <div class="col-xs-2">
          </div>

          <div class="col-xs-3 text-right">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <!-- <div class="vertical-space"></div> -->
          </div>
        </div>

        <div class="row">
          <div class="col-xs-10">

          </div>
          <div class="col-xs-2">
            <div class="remove-post-box">

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3">

          </div>
          <div class="col-xs-6">
            <div class="horizontal-line">


            </div>
          </div>
          <div class="col-xs-3">

          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 text-center">
            <h3>Rate the Story</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-left">
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="rating-container">
              Characters <br>
              <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="characters" id="rating-characters-1"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="characters" id="rating-characters-2"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="characters" id="rating-characters-3"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="characters" id="rating-characters-4"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="characters" id="rating-characters-5"><i class="fa fa-heart-o rating-heart"></i></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="rating-container">
              Setting <br>
              <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="setting" id="rating-setting-1"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="setting" id="rating-setting-2"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="setting" id="rating-setting-3"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="setting" id="rating-setting-4"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="setting" id="rating-setting-5"><i class="fa fa-heart-o rating-heart"></i></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="rating-container">
              Plot <br>
              <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="plot" id="rating-plot-1"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="plot" id="rating-plot-2"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="plot" id="rating-plot-3"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="plot" id="rating-plot-4"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="plot" id="rating-plot-5"><i class="fa fa-heart-o rating-heart"></i></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <br>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="rating-container">
              Story Structure <br>
              <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="structure" id="rating-structure-1"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="structure" id="rating-structure-2"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="structure" id="rating-structure-3"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="structure" id="rating-structure-4"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="structure" id="rating-structure-5"><i class="fa fa-heart-o rating-heart"></i></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="rating-container">
              Dialogue (if applicable) <br>
              <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="dialogue" id="rating-dialogue-1"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="dialogue" id="rating-dialogue-2"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="dialogue" id="rating-dialogue-3"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="dialogue" id="rating-dialogue-4"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="dialogue" id="rating-dialogue-5"><i class="fa fa-heart-o rating-heart"></i></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="rating-container">
              Style <br>
              <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="style" id="rating-style-1"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="style" id="rating-style-2"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="style" id="rating-style-3"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="style" id="rating-style-4"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="style" id="rating-style-5"><i class="fa fa-heart-o rating-heart"></i></div>
            </div>
          </div>
        </div>
<!--
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-sm-offset-3">




          </div>

          <div class="col-xs-12 col-sm-3">


            <div class="rating-container">
              Grammar <br>
              <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="grammar" id="rating-grammar-1"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="grammar" id="rating-grammar-2"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="grammar" id="rating-grammar-3"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="grammar" id="rating-grammar-4"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="grammar" id="rating-grammar-5"><i class="fa fa-heart-o rating-heart"></i></div>
            </div>
            <div class="rating-container">
              Theme <br>
              <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="theme" id="rating-theme-1"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="theme" id="rating-theme-2"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="theme" id="rating-theme-3"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="theme" id="rating-theme-4"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="theme" id="rating-theme-5"><i class="fa fa-heart-o rating-heart"></i></div>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-xs-12 text-center">
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="rating-container">
              Overall <br>
              <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="overall" id="rating-overall-1"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="overall" id="rating-overall-2"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="overall" id="rating-overall-3"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="overall" id="rating-overall-4"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="overall" id="rating-overall-5"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="6" data-post="<%%= id %>" data-skill="overall" id="rating-overall-6"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="7" data-post="<%%= id %>" data-skill="overall" id="rating-overall-7"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="8" data-post="<%%= id %>" data-skill="overall" id="rating-overall-8"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="9" data-post="<%%= id %>" data-skill="overall" id="rating-overall-9"><i class="fa fa-heart-o rating-heart"></i></div>
              <div class="new-rating" data-value="10" data-post="<%%= id %>" data-skill="overall" id="rating-overall-10"><i class="fa fa-heart-o rating-heart"></i></div>
            </div>
          </div>
        </div>
<!--
            <span class="prompt-label">Rate this Post</span>

            <div class="rating">

              <div class="rating-button" data-post="<%%= id %>" id="star5" value="5" />
                <label for="star5" class="rating-button" id="label-star5" data-post="<%%= id %>"
                title="Shakespeare" data-value="5">5 stars</label>
              <div class="rating-button" data-post="<%%= id %>" id="star4" value="4" /><label for="star4" class="rating-button" id="label-star4" data-post="<%%= id %>"
                title="Wordsmith" data-value="4">4 stars</label>
              <div class="rating-button" data-post="<%%= id %>" id="star3" value="3" /><label for="star3" class="rating-button" id="label-star3" data-post="<%%= id %>"
                title="Scribe" data-value="3">3 stars</label>
              <div class="rating-button" data-post="<%%= id %>" id="star2" value="2" /><label for="star2" class="rating-button" id="label-star2" data-post="<%%= id %>"
                title="Novice" data-value="2">2 stars</label>
              <div class="rating-button" data-post="<%%= id %>" id="star1" value="1" /><label for="star1" class="rating-button" id="label-star1" data-post="<%%= id %>"
                title="Beginner" data-value="1">1 star</label>
              <div type="hidden" id="post-id" value="<%%= id %>"></input>
            </div></div></div></div></div></div>
            </div> -->


        <div class="row">
          <div class="col-xs-12 text-right">
            <div class="new-critique-form">

              <!-- Feedback Link Rendered Here  -->
              <!-- <h5 class="text-left prompt-label show-feedback">Give Feedback</h5> -->
            </div>
          </div>
        </div>



          <!-- Confirm Post Delete Modal -->
          <div class="modal" id="deletePost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                  Do you wish to delete this post?
                  <br>
                  <br>
                  <%%= title %>
                  <br>
                  <br>
                  <%%= message %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary delete-post">Yes</button>
                </div>
              </div>
            </div>
          </div>



    </script>


    <script type="text/template" id="critique-post-template">

      <!-- Critique Form -->
      <div class="critiques-wrapper">
        <div class="row text-left">
          <div class="col-xs-12">
            <h3>Leave Feedback</h3>
          </div>
        </div>

          <div class="row text-left">

            <div class="xs-hidden col-sm-4">
              <div class="feedback-instructions text-left">
              <h5 class="text-left">How to give constructive feedback?</h5>
              <br>
              <i class="fa fa-thumbs-up"></i> &nbsp; Start with the positive<br>
              <i class="fa fa-quote-left"></i> &nbsp; Point out specific passages<br>
              <i class="fa fa-eye"></i> &nbsp; Be descriptive of the reactions and feelings evoked<br>
              <i class="fa fa-gavel"></i> &nbsp; Do not be judgmental or evaluative<br>
              <i class="fa fa-exchange"></i> &nbsp; Encourage further discussion
              </div>
            </div>


            <div class="col-xs-12 col-sm-8">
              <!-- <textarea id="critique-editor" class="post-body"></textarea> -->

              <div id="full-toolbar">
                <span class="ql-format-group">
                  <span title="Bold" class="ql-format-button ql-bold"></span>
                  <span class="ql-format-separator"></span>
                  <span title="Italic" class="ql-format-button ql-italic"></span>
                  <span class="ql-format-separator"></span>
                  <span title="Underline" class="ql-format-button ql-underline"></span>
                <select title="Text Color" class="ql-color">
                  <option value="rgb(0, 0, 0)" selected></option>
                  <option value="rgb(230, 0, 0)"></option>
                  <option value="rgb(255, 153, 0)"></option>
                  <option value="rgb(255, 255, 0)"></option>
                  <option value="rgb(0, 138, 0)"></option>
                  <option value="rgb(0, 102, 204)"></option>
                  <option value="rgb(153, 51, 255)"></option>
                  <option value="rgb(255, 255, 255)"></option>
                  <option value="rgb(250, 204, 204)"></option>
                  <option value="rgb(255, 235, 204)"></option>
                  <option value="rgb(255, 255, 204)"></option>
                  <option value="rgb(204, 232, 204)"></option>
                  <option value="rgb(204, 224, 245)"></option>
                  <option value="rgb(235, 214, 255)"></option>
                  <option value="rgb(187, 187, 187)"></option>
                  <option value="rgb(240, 102, 102)"></option>
                  <option value="rgb(255, 194, 102)"></option>
                  <option value="rgb(255, 255, 102)"></option>
                  <option value="rgb(102, 185, 102)"></option>
                  <option value="rgb(102, 163, 224)"></option>
                  <option value="rgb(194, 133, 255)"></option>
                  <option value="rgb(136, 136, 136)"></option>
                  <option value="rgb(161, 0, 0)"></option>
                  <option value="rgb(178, 107, 0)"></option>
                  <option value="rgb(178, 178, 0)"></option>
                  <option value="rgb(0, 97, 0)"></option>
                  <option value="rgb(0, 71, 178)"></option>
                  <option value="rgb(107, 36, 178)"></option>
                  <option value="rgb(68, 68, 68)"></option>
                  <option value="rgb(92, 0, 0)"></option>
                  <option value="rgb(102, 61, 0)"></option>
                  <option value="rgb(102, 102, 0)"></option>
                  <option value="rgb(0, 55, 0)"></option>
                  <option value="rgb(0, 41, 102)"></option>
                  <option value="rgb(61, 20, 102)"></option>
                </select><span class="ql-format-separator"></span>
                <select title="Background Color" class="ql-background">
                  <option value="rgb(0, 0, 0)"></option>
                  <option value="rgb(230, 0, 0)"></option>
                  <option value="rgb(255, 153, 0)"></option>
                  <option value="rgb(255, 255, 0)"></option>
                  <option value="rgb(0, 138, 0)"></option>
                  <option value="rgb(0, 102, 204)"></option>
                  <option value="rgb(153, 51, 255)"></option>
                  <option value="rgb(255, 255, 255)" selected></option>
                  <option value="rgb(250, 204, 204)"></option>
                  <option value="rgb(255, 235, 204)"></option>
                  <option value="rgb(255, 255, 204)"></option>
                  <option value="rgb(204, 232, 204)"></option>
                  <option value="rgb(204, 224, 245)"></option>
                  <option value="rgb(235, 214, 255)"></option>
                  <option value="rgb(187, 187, 187)"></option>
                  <option value="rgb(240, 102, 102)"></option>
                  <option value="rgb(255, 194, 102)"></option>
                  <option value="rgb(255, 255, 102)"></option>
                  <option value="rgb(102, 185, 102)"></option>
                  <option value="rgb(102, 163, 224)"></option>
                  <option value="rgb(194, 133, 255)"></option>
                  <option value="rgb(136, 136, 136)"></option>
                  <option value="rgb(161, 0, 0)"></option>
                  <option value="rgb(178, 107, 0)"></option>
                  <option value="rgb(178, 178, 0)"></option>
                  <option value="rgb(0, 97, 0)"></option>
                  <option value="rgb(0, 71, 178)"></option>
                  <option value="rgb(107, 36, 178)"></option>
                  <option value="rgb(68, 68, 68)"></option>
                  <option value="rgb(92, 0, 0)"></option>
                  <option value="rgb(102, 61, 0)"></option>
                  <option value="rgb(102, 102, 0)"></option>
                  <option value="rgb(0, 55, 0)"></option>
                  <option value="rgb(0, 41, 102)"></option>
                  <option value="rgb(61, 20, 102)"></option>
                </select><span class="ql-format-separator"></span>
              </div>

              <div id="critique-editor-holder"></div>
              <input type="hidden" name="critique[post_id]" id="critique-post-id">

            </div>
          </div>

          <div class="row text-left">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">

            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 text-right">
              <a class="save-critique btn btn-raised btn-danger">Give Feedback</a>

            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="make-critique-box">

              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-1 col-xs-offset-9">
            </div>
            <div class="col-xs-1">

            </form>

            </div>
          </div>

                <!-- <textarea class= "form-control" id="critique-message" rows="10" name="critique[message]" placeholder="...enter critique"></textarea> -->

              <div class="row">
                <div class="col-xs-2">
                  <div class="show-critiques-box prompt-label">

                  </div>
                </div>
                <div class="col-xs-6 col-xs-offset-4">

                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 text-left">
                  <h3>Feedback</h3>
                </div>
              </div>


              <div class="row">
                <div class="col-xs-12">
                  <div class="critiques-list">

                  </div>
                </div>
              </div>

            </div>

      </div>
<!-- Closes Critique Wrapper -->

    </script>



    <!-- New Post -->
    <script type="text/template" id="new-template">


      <!-- <div class="row">
        <div class="col-xs-12 text-right">
          <div class="circle-button">X</div>
          <br>
          <span class="prompt-label">press esc to go back (does not work yet)</span>
        </div>
      </div> -->

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div id="prompt-form">


          <div class="row">
            <div class="col-xs-12">

            </div>
          </div>

          <div class="row">
            <div class="col-xs-2"></div>

          </div>



          <div class="row">
            <div class="col-xs-12 text-center">
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12">
              <h3 class="text-center start-writing">You are 250 words away from being a better writer. </h3>
            </div>

            <div class="col-xs-12 col-sm-8">
              <label for="choose-type">Choose your prompt</label>
              <select class="form-control" id="choose-type">
                  <option>Use One Word</option>
                  <option>Answer What If</option>
                  <option>Classic First Sentence</option>
                  <option>reddit</option>
              </select>
              <div id="prompt-description" class="prompt-label">

                <!-- Starts on One Word -->
                Use the one word prompt in the first sentence of your post.
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <label for="post-word-count">Choose minimum word count</label>
              <select class="form-control" id="post-word-count">
                  <option data-value="250">250 words</option>
                  <option data-value="500">500 words</option>
                  <option data-value="750">750 words</option>
                  <option data-value="1000">1000 words</option>
              </select>
              <!-- <input type="number" value="25" min ="25" max="1000" step="25" class="form-control" id="post-word-count"></input>
              <span class="prompt-label">1,000 max</span> -->
            </div>

          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-7 text-center">
              <div id="prompt-container"></div>
            </div>
            <div class="col-xs-12 col-sm-2 text-center">
                <a class="render-prompt btn btn-danger btn-raised">Get a Prompt</a>
            </div>
            <div class="col-xs-12 col-sm-3 text-center">
              <div id="start-writing-container"></div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12 col-sm-8 text-center">
            </div>
            <div class="col-xs-12 col-sm-3">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">

            </div>

          </div>

          <!-- Close Prompt Series -->
        </div>

<!-- Closes Row and Column -->
      </div>
    </div>

    </script>


      <!-- Critique -->
      <script type="text/template" id="critique-template">

            <div class="row">
              <div class="col-xs-12 ">

            <div class="row">
              <div class="col-xs-1 col-xs-offset-10">

              </div>
              <div class="col-xs-1">

              </div>
            </div>

            <div class="row">
              <div class="col-xs-4">
                <br>
              </div>
            </div>


            <div class="row">

              <div class="col-xs-12">

              </div>
            </div>

            <div class="row">
              <div class="col-xs-2">

              </div>
            </div>

            <div class="row">
              <div class="col-xs-1 text-center">
                <i class="fa fa-caret-up fa-5x up-vote vote"></i>
                <br>
                <%%= total_votes %>
                <br>
                <i class="fa fa-caret-down fa-5x down-vote vote"></i>
              </div>
              <div class="col-xs-7 text-left">
                <p class="critique-message">
                    <%%= message %>
                </p>
              </div>
              <div class="col-xs-4 text-right">
                <img src="<%%= image_url %>" class="critique-profile-picture img-circle"></img>
                <%%= username %>
                <div class="tiny-text">written <%%= created_at %> ago</div>
                <div class="edit-critique-box"></div>
                <div class="remove-critique-box"></div>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-2">

              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 col-xs-offset-8 text-right">

              </div>
            </div>

            <!-- Close outer row & column -->
          </div>
        </div>

            <!-- <br>
            <div class="row">
              <div class="col-xs-1">

              </div>


            </div> -->



            <!-- Confirm Critique Delete Modal -->
            <div class="modal" id="deleteCritique" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                  </div>
                  <div class="modal-body">
                    Do you wish to delete your critique?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary delete-critique">Yes</button>
                  </div>
                </div>
              </div>
            </div>
          </script>

        <!-- Critique Form -->
          <script type="text/template" id="critique-form-template">

            <!-- <div class="row">
              <div class="col-xs-12">
                <div class="new-critique-form">
                  <h5 class="text-left">Edit Critique</h5>
                  <form id="create-critique">
                    <input type="hidden" name="critique[user_id]" value="<%= @user.id %>">
                    <div id="full-toolbar">
                      <span class="ql-format-group">
                        <span title="Bold" class="ql-format-button ql-bold"></span>
                        <span class="ql-format-separator"></span>
                        <span title="Italic" class="ql-format-button ql-italic"></span>
                        <span class="ql-format-separator"></span>
                        <span title="Underline" class="ql-format-button ql-underline"></span>
                      <select title="Text Color" class="ql-color">
                        <option value="rgb(0, 0, 0)" selected></option>
                        <option value="rgb(230, 0, 0)"></option>
                        <option value="rgb(255, 153, 0)"></option>
                        <option value="rgb(255, 255, 0)"></option>
                        <option value="rgb(0, 138, 0)"></option>
                        <option value="rgb(0, 102, 204)"></option>
                        <option value="rgb(153, 51, 255)"></option>
                        <option value="rgb(255, 255, 255)"></option>
                        <option value="rgb(250, 204, 204)"></option>
                        <option value="rgb(255, 235, 204)"></option>
                        <option value="rgb(255, 255, 204)"></option>
                        <option value="rgb(204, 232, 204)"></option>
                        <option value="rgb(204, 224, 245)"></option>
                        <option value="rgb(235, 214, 255)"></option>
                        <option value="rgb(187, 187, 187)"></option>
                        <option value="rgb(240, 102, 102)"></option>
                        <option value="rgb(255, 194, 102)"></option>
                        <option value="rgb(255, 255, 102)"></option>
                        <option value="rgb(102, 185, 102)"></option>
                        <option value="rgb(102, 163, 224)"></option>
                        <option value="rgb(194, 133, 255)"></option>
                        <option value="rgb(136, 136, 136)"></option>
                        <option value="rgb(161, 0, 0)"></option>
                        <option value="rgb(178, 107, 0)"></option>
                        <option value="rgb(178, 178, 0)"></option>
                        <option value="rgb(0, 97, 0)"></option>
                        <option value="rgb(0, 71, 178)"></option>
                        <option value="rgb(107, 36, 178)"></option>
                        <option value="rgb(68, 68, 68)"></option>
                        <option value="rgb(92, 0, 0)"></option>
                        <option value="rgb(102, 61, 0)"></option>
                        <option value="rgb(102, 102, 0)"></option>
                        <option value="rgb(0, 55, 0)"></option>
                        <option value="rgb(0, 41, 102)"></option>
                        <option value="rgb(61, 20, 102)"></option>
                      </select><span class="ql-format-separator"></span>
                      <select title="Background Color" class="ql-background">
                        <option value="rgb(0, 0, 0)"></option>
                        <option value="rgb(230, 0, 0)"></option>
                        <option value="rgb(255, 153, 0)"></option>
                        <option value="rgb(255, 255, 0)"></option>
                        <option value="rgb(0, 138, 0)"></option>
                        <option value="rgb(0, 102, 204)"></option>
                        <option value="rgb(153, 51, 255)"></option>
                        <option value="rgb(255, 255, 255)" selected></option>
                        <option value="rgb(250, 204, 204)"></option>
                        <option value="rgb(255, 235, 204)"></option>
                        <option value="rgb(255, 255, 204)"></option>
                        <option value="rgb(204, 232, 204)"></option>
                        <option value="rgb(204, 224, 245)"></option>
                        <option value="rgb(235, 214, 255)"></option>
                        <option value="rgb(187, 187, 187)"></option>
                        <option value="rgb(240, 102, 102)"></option>
                        <option value="rgb(255, 194, 102)"></option>
                        <option value="rgb(255, 255, 102)"></option>
                        <option value="rgb(102, 185, 102)"></option>
                        <option value="rgb(102, 163, 224)"></option>
                        <option value="rgb(194, 133, 255)"></option>
                        <option value="rgb(136, 136, 136)"></option>
                        <option value="rgb(161, 0, 0)"></option>
                        <option value="rgb(178, 107, 0)"></option>
                        <option value="rgb(178, 178, 0)"></option>
                        <option value="rgb(0, 97, 0)"></option>
                        <option value="rgb(0, 71, 178)"></option>
                        <option value="rgb(107, 36, 178)"></option>
                        <option value="rgb(68, 68, 68)"></option>
                        <option value="rgb(92, 0, 0)"></option>
                        <option value="rgb(102, 61, 0)"></option>
                        <option value="rgb(102, 102, 0)"></option>
                        <option value="rgb(0, 55, 0)"></option>
                        <option value="rgb(0, 41, 102)"></option>
                        <option value="rgb(61, 20, 102)"></option>
                      </select><span class="ql-format-separator"></span>
                    </div>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-xs-12">
              <!-- Create the editor container -->
              <textarea id="edit-critique" class="post-body"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1 col-xs-offset-10">
              <a class="close-critique">cancel</button>
            </div>
            <div class="col-xs-1">
              <span class="save-edited-critique btn btn-info">Save</span>
            </div>
          </div>
                <!-- <textarea class= "form-control" id="critique-message" rows="10" name="critique[message]" placeholder="...enter critique"></textarea> -->
                <input type="hidden" name="critique[post_id]" id="critique-post-id">
              </form>
            </div>
        </script>

    <!-- Render Prompt Form -->

    <script type="text/template" id="friend-view-template">

      <div class="row">
        <div class="col-xs-2 text-left">
          <div class="user-pic-box"></div>
        </div>
        <div class="col-xs-4 text-left prompt-label">
          <div data-no-turbolink>
            <h3><%%= username %></h3>
          </div>
        </div>

        <div class="col-xs-2 col-xs-offset-2 col-sm-2 col-sm-offset-4 text-center" id="friend-button-holder">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2 col-xs-offset-2 text-center">
          <span class="writing-page-text"><%%= writer_score || 0 %></span><br>
          Writing Score
        </div>
        <div class="col-xs-2 text-center">
          <span class="writing-page-text"><%%= posts || 0 %></span><br>
          Posts
        </div>
        <div class="col-xs-2 text-center">
          <span class="writing-page-text"><%%= reviewer_score || 0%></span><br>
          Reviewer Score
        </div>
        <div class="col-xs-2 text-center">
          <span class="writing-page-text"><%%= reviews || 0 %></span><br>
          Feedback Given
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <br>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 text-center">
          <a class="about-the-author-show about-the-author btn btn-raised btn-fab btn-info"><i class="fa fa-info"></i></a>about the author
        </div>
      </div>

      <div id="author-info">



        <div class="row">
          <div class="col-xs-5 col-xs-offset-1 text-center">
            <h4>Reading</h4>
              <%%= currently_reading || "nothing" %>
            <br>
            <h4>Writing Goal</h4>
            <%%= writing_goal || "nothing" %>
          </div>
          <div class="col-xs-5 text-center">
            <h4>Favorite Authors</h4>
            <%%= favorite_author || "nothing" %>
            <h4>Favorite Books</h4>
            <%%= favorite_book || "nothing" %>
            <h4>Favorite Genres</h4>
            <%%= favorite_genre || "nothing" %>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <h4>From</h4>
            <%%= from || "nothing" %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <h4>About</h4>
            <%%= about || "nothing" %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 col-xs-offset-11">
            <div class="user-posts-container"></div>
          </div>
        </div>

        <div class="row">
          <!-- <button type="button" class="btn btn-info make-challenge">Issue Challenge</button> -->
          <!-- <button type="button" class="btn btn-info show-challenges">Show Challenges</button> -->
        </div>
        <div id="challenge-list">

        </div>

        <input type="hidden" name="friendship[friend_id]" value="<%%= id %>" class="friend-id-holder">
        <input type="hidden" name="friendship[user_id]" value="<%= @user.id %>" class="user-id-holder">
      </div>

    </script>



    <script type="text/template" id="user-view-template">

      <div class="row">
        <div class="col-xs-2">
          <h3 class="user-name-header"><img src="<%%= image_url %>" class="img-circle profile-picture"</>&nbsp; <%%= username %></h3>
        </div>
        <div class="col-xs-2 text-center">
          <span class="writing-page-text"><%%= writer_score || 0 %></span><br>
          Writing Score
        </div>
        <div class="col-xs-2 text-center">
          <span class="writing-page-text"><%%= posts || 0 %></span><br>
          Posts
        </div>
        <div class="col-xs-2 text-center">
          <span class="writing-page-text"><%%= reviewer_score || 0%></span><br>
          Reviewer Score
        </div>
        <div class="col-xs-2 text-center">
          <span class="writing-page-text"><%%= reviews || 0 %></span><br>
          Feedback Given
        </div>
        <div class="col-xs-2">
            <span class="btn btn-success btn-fab add-friend"><i class="fa fa-user-plus"></i></span>
        </div>
      </div>

          <!-- <div class="row text-center">
            <div class="col-xs-12 col-sm-2">
              Writing Score <br>
              <%%= writer_score || 0 %>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-xs-12 col-sm-2">
              Posts <br>
              <%%= posts || 0 %>
            </div>
          </div>

        </div>
        <div class="col-xs-3">
          <div class="row text-center">
            <div class="col-xs-12 col-sm-2">
              Reviewer Score <br>
              <%%= reviewer_score || 0%>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-xs-12 col-sm-2">
              Feedback Given <br>
              <%%= reviews || 0 %>
            </div>
          </div>

        </div> -->



        <input type="hidden" name="friendship[friend_id]" value="<%%= id %>" class="friend-id-holder">
        <input type="hidden" name="friendship[user_id]" value="<%= @user.id %>" class="user-id-holder">

    </script>

    <script type="text/template" id="follower-view-template">
      <h3><%%= username %></h3>
    </script>


    <script type="text/template" id="no-challenges-screen">

      <div class="no-page">

      <div class="row">
        <div class="col-xs-12">
          You do not have any challenges.  Challenge your friends
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          Find other authors.
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          Challenge your friends!
        </div>
      </div>


    </script>


    <script type="text/template" id="make-challenge-template">



      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="user-search-container">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <h3>Send a Writing Challenge to a Friend</h3>
                </div>
              </div>

              <div class="row">

              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <label for="friend-name">Enter Writing Challenge</label>
                  <input type="text" class="form-control" id="challenge-prompt" placeholder="i.e. use the word hyperbolic"></input>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <label for="challenge-word-count">Min. Word Count?</label>
                  <input type="number" value="25" min ="25" max="1000" step="25" class="form-control" id="challenge-word-count"></input>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <label for="friend-name">Choose Friend</label>
                    <div id="choose-friend-container">

                    <!-- Friend Options Rendered Here -->

                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-sm-offset-2 text-center">
                    <a class="issue-challenge btn btn-raised btn-success">SEND CHALLENGE <i class="fa fa-paper-plane"></i></a>
                  </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div id="challenge-alert-box"></span>

                </div>
              </div>

          </div>
        </div>
      </div>






      <div class="row">
        <div class="col-xs-12 text-center ">
          <h4>Sent Challenges</h4>
          <div id="challenge-list">


          </div>
          </div>
        </div>



    </script>

    <script type="text/template" id="no-friends-screen">

      <div class="no-page">

      <div class="row">
        <div class="col-xs-12 text-center">
          Find other authors.
        </div>
      </div>

    </div>

  </div>


    </script>

    <script type="text/template" id="friend-nav-template">
    <div class="friend-nav">

        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 text-center">
            <div class="btn-group btn-group-justified btn-group-raised">
              <a class="btn btn-info show-following" href="javascript:void(0)">Following</a>
              <a class="btn btn-info show-followers" href="javascript:void(0)">Followers</a>
              <a class="btn btn-info show-users" href="javascript:void(0)">All Authors
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="user-search-container">

                <!-- <div class="row">
                  <div class="col-xs-12 text-center">
                    <h3>Find other authors.</h3>
                  </div>
                </div> -->

                <div class="row">
                  <div class="author-search-box">
                  <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group label-floating">
                      <label class="control-label" for="user-search-form">Search for a user...</label>
                      <input type="text" id="user-search-form" class="form-control" placeholder=""></input>
                    </div>
                  </div>
                  <div class="col-xs-3 text-left">
                    <a class="btn btn-default btn-raised text-left" id="search-users"><i class="fa fa-search fa-fw"></i>Search</a>
                  </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-6 text-right">
                    <div id="search-terms"></div>
                  </div>
                  <div class="col-xs-4 text-right">
                  </div>
                </div>



                </div>

            </div>
          </div>
        </div>





    </script>


    <script type="text/template" id="challenge-nav-template">


      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 text-center friend-nav">
          <div class="btn-group btn-group-justified btn-group-raised">
            <a href="javascript:void(0)" class="btn btn-danger send-challenge">Send Challenge</a>
            <a href="javascript:void(0)" class="btn btn-danger received-challenges">Received Challenges</a>
            <a href="javascript:void(0)" class="btn btn-danger awaiting-challenges">Awaiting Response</a>
            <a href="javascript:void(0)" class="btn btn-danger completed-challenges">Completed Challenges</a>
          </div>
        </div>
      </div>

      <div id="challenge-page">


      </div>

    </script>






    <script type="text/template" id="friend-button-template">
      <button type="button" class="btn btn-danger show-friends">Show Friends</button>
    </script>




<script type="text/template" id="challenge-form-template">
  <div class="new-post-box">

    <div id="challenge-container">
    </div>
        <label for="choose-type">Choose Type</label>
        <select class="form-control input-lg" id="choose-type">
            <option data-id="1">One Word</option>
            <option data-id="2">What If</option>
            <option data-id="3">3</option>
            <option data-id="4">4</option>
            <option data-id="5">5</option>
        </select>
        <button class="render-challenge btn btn-primary btn-lg btn-block">Render Challenge</button>
        <form id="create-challenge">
          Word Count: <p id="word-count"></p>
            <input id="challenge-word-count" type="hidden" name=challenge[word_count] value="25"/>
            <div id="slider-challenge-word-count"></div>

    <!-- <button class="btn btn-danger send-challenge">Send Challenge</button> -->
    <input type="submit" value="Send Challenge" class="btn btn-danger send-challenge">
        </form>


  </div>
</script>




    <script type="text/template" id="challenge-template">
      <div class="row">
        <div class="col-xs-12 col-sm-2 text-center">
          <div class="challenged-user">
            <!-- Username rendered -->
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 text-left">
          <div class="challenge-message">Write <%%= word_count %> using the prompt: <%%= prompt %>.</div>
          <div class="tiny-text">sent <%%= created_at %> ago</div>
        </div>
        <div class="col-xs-12 col-sm-2 text-left">
          <a class='remove-challenge btn btn-raised btn-fab btn-danger'><i class="fa fa-times"></i></button>
        </div>
      </div>



    </script>

    <script type="text/template" id="received-challenge-template">
      <div class="challenge-message">

        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <img src="<%%= image_url || "undefined" %>" class="critique-profile-picture img-circle"/>
            <%%= username || "unknown" %>
            <div class="tiny-text">sent <%%= created_at %> ago</div>
          </div>
          <div class="col-xs-12 col-sm-7">
            Write <%%= word_count %> words, using the prompt: <%%= prompt %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="vertical-space"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div id="challenge-required-word-count">Word Count: 0</div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <div id="challenge-form-holder"></div>
            <!-- <textarea id="challenge-answer" class="form-control"></textarea> -->
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <span class='accept-challenge btn btn-info'>Submit Answer</span>
        </div>
        <div class="col-xs-6">
          <span class='remove-challenge btn btn-danger'>Refuse Challenge </span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div id="received-challenge-error"></div>
        </div>
      </div>


    </script>

    <script type="text/template" id="completed-challenge-template">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <img src="<%%= sender_image_url || "undefined" %>" class="critique-profile-picture img-circle"/>
              <%%= sender || "unknown" %>
              <div class="tiny-text">sent <%%= created_at %> ago</div>
            </div>
            <div class="col-xs-12 col-sm-7">
              <h4 class="panel-header">Write <%%= word_count %> words, using the prompt: <%%= prompt %></h4>
            </div>
          </div>
        </div>
        <div class="panel-body">

          <div class="row">
            <div class="col-xs-12">
              <div class="vertical-space"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <h4 class="text-center">ANSWER</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-offset-1">
              <img src="<%%= receiver_image_url || "undefined" %>" class="critique-profile-picture img-circle"/>
              <%%= receiver || "unknown" %>
            </div>
            <div class="col-xs-12 col-sm-7">
              <div class="completed-challenge-message">
                  <%%= message %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="vertical-space"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
            </div>
          </div>



          <div class="row">
            <div class="col-xs-12">
              <div id="response-holder">
                <!-- Place Responses in HERE -->
              </div>
            </div>

          </div>

        </div>
      </div>




    </script>


    <script type="text/template" id="challenge-response-template">

      <div class="row">
        <div class="col-xs-12">
          <h4 class="text-center">RESPONSE</h4>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-1">
          <div id="response">
            <!-- Response to a Challenge Rendered Here -->
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div id="response-user-holder">
            <!-- Place Responses User in HERE -->
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>

    </script>

    <script type="text/template" id="response-form-template">

      <div class="row">
        <div class="col-xs-12">
          <textarea id="response-form" class="form-control"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div id="challenge-required-word-count">Word Count: 0</div>
        </div>
        <div class="col-xs-6 text-right">
          <a class="respond btn btn-raised btn-default">RESPOND</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div id="challenge-response-error"></div>
        </div>
      </div>

    </script>
    <!-- <script type="text/template" id="accepted-challenge-template">
      <div class="post-prompt-type">
        <strong><%%= prompt_type %></strong>
        <%%= prompt %> | <%%= word_count %> words
      </div>
      <div class="completed-challenge-message">
          <%%= message %><br>
      </div>

    </script> -->



    <script type="text/template" id="accept-challenge-form-template">
      <div class="new-post-box">

        <div id="challenge-type"></div>
        <div id="challenge-container"></div>
        <div id="challenge-word-count"></div>
        <div id="current-challenge-word-count">        </div>

        <p id="challenge-error"></p>


            <form id="challenge-accept-form">

              <div class="form-group">
                <div id="full-toolbar">
                  <!-- Add a bold button -->
                  <span class="ql-format-group">
                    <span title="Bold" class="ql-format-button ql-bold"></span>
                    <span class="ql-format-separator"></span>
                    <span title="Italic" class="ql-format-button ql-italic"></span>
                    <span class="ql-format-separator"></span>
                    <span title="Underline" class="ql-format-button ql-underline"></span>
                  <select title="Text Color" class="ql-color">
                    <option value="rgb(0, 0, 0)" selected></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)"></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                  <select title="Background Color" class="ql-background">
                    <option value="rgb(0, 0, 0)"></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)" selected></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                </div>
                <!-- Create the editor container -->
                <div id="challenge-editor" class="challenge-body">
                </div>
                <br>
                <!-- <textarea class="form-control" id="challenge-body" rows="10" name="post[message]" placeholder="...post"></textarea> -->
              </div>
        <!-- <button class="btn btn-danger send-challenge">Send Challenge</button> -->
        <!-- <input type="submit" value="Submit" class="btn btn-danger submit-challenge"> -->
            <input type="submit" class='submit-challenge btn btn-danger' value="Submit"></button>

            </form>


      </div>
    </script>

</head>


<body id="main-page">


  <!-- <div class="container-fluid" > -->

    <%= yield %>

  <!-- </div> -->

  <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>
</body>
</html>
