<html>
<head>
  <title>Write Away</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>


  <!--  Header -->
  <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>

  <!-- Title Font -->
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  <!-- Helper Text -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <!-- Post Font -->
  <link href='https://fonts.googleapis.com/css?family=Krona+One|Josefin+Sans:400,400italic,700italic,700' rel='stylesheet' type='text/css'>

  <!-- Romance Font -->
  <link href='https://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>

  <!-- Horror Font -->
  <link href='https://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>

  <!-- Historical Fiction -->
  <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
<!-- Sci Fi -->
  <link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//cdn.quilljs.com/0.19.10/quill.snow.css" />
  <script src="//cdn.quilljs.com/0.19.10/quill.min.js"></script>



<!-- Main Nav Bar -->
    <script type="text/template" id="nav-bar-template">



      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand home-page">
        <img class="typewriter" src="http://i.imgur.com/yXJDIRB.png"/>
        <a class="home-page">writeaway.</a>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="write-nav"><a class="nav-text">Write</a></li>
        <li class="home-page"><a class="nav-text">Read</a></li>
        <li class="show-friends"><a class="nav-text">Authors</a></li>
        <li class="show-challenges"><a class="nav-text">Challenges</a></li>
        <li class="show-current-user"><a class="nav-text"><img src="<%= @user.image_url %>" class="img-circle profile-picture"</></a></li>


        <!-- Unused Drop Down -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Hmm</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>

      <!-- Search Bar -->

      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->

<!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

          <!-- <div class="row" id="header-row">

            <div class="col-xs-5 col-sm-5 nav-column">
              <div class="write-nav nav-item">
                <img class="typewriter" src="http://i.imgur.com/yXJDIRB.png"/>
                <a class="home-page">writeaway.</a>
              </div>
            </div>

            <div class="col-xs-7 col-sm-7 nav-column text-right">
                <li class="nav-item text-right navbar-link">Write</li>
                <li class="nav-item text-right navbar-link">Read</li>
                <li class="nav-item text-right navbar-link">Following</li>
                <li class="nav-item text-right navbar-link">Challenges</li>
                <li class="nav-item text-right navbar-link">
                  <img src="<%= @user.image_url %>" class="img-circle profile-picture"</>
                </li>
            </div>

          <div class="col-xs-2 col-sm-2 nav-column">
          </div>

          <div class="col-xs-2 col-sm-2 nav-column">
            <div class="nav-item text-center text-center show-current-user">
            <span id="sub-logo" class="hidden-s"><%= @user.username %></span>
            </div>
          </div>

          </div> -->

    </script>

    <!-- Writing Nav -->
    <script type="text/template" id="writing-nav-template">

          <div class="row" id="header-row">

            <div class="col-xs-3 nav-columm">
              <h1 class="home-page brand">
                <!-- <div data-no-turbolink>
                <a href="/users/main"> -->
                  <img src="http://i.imgur.com/g8Z3uqu.png"/>
                <!-- </a>
              </div> -->
              </h1>
            </div>
            <div class="col-xs-7 text-center">
              <div id="prompt-instrustion"><h1 class="brand-font">writeaway.</h1></div>
              <div id="prompt"></div>
            </div>
            <div class="col-xs-2">
              <p class="post-error text-center"></p>
            </div>

            <!-- <div class="col-sm-3">
            </div> -->
            <!-- <div class="col-sm-4 nav-column">
              <h1 class="home-page nav-item text-center">writeaway.</h1>
            </div> -->

          </div>


    </script>


    <!-- Main Page -->
    <script type="text/template" id="main-page-template">

      <input type="hidden" id="current_user" value="<%= @user.username %>">
      <input type="hidden" id="current_id" value="<%= @user.id %>">

      <div class="container-fluid"  id="header">

        <!-- Navbar is Rendered Here -->

      </div>

    <!-- Main Page Containers -->
    <div class="container-fluid" id="main-display">

    <div class="row">
      <div class="col-xs-12">
        <div id="top-pane">

        </div>
      </div>

    </div>
    <div class="row">

      <!-- Left Side -->
      <div id="left-columns" class="col-md-2 col-lg-2 hidden-xs">
        <div id="left-pane">
        </div>
      </div>

      <!-- Center -->
      <div id="center-columns"class="col-md-10 col-lg-10">
        <div id="center-pane">

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
          <!-- <img class="typewriter" src="http://i.imgur.com/yXJDIRB.png"/> -->
        </div>
        <div class="col-xs-2">
          <!-- <img class="typewriter" src="http://i.imgur.com/yXJDIRB.png"/> -->
        </div>
      </div>
      <!-- Footer -->
      <section id="footer">
        <div class="container">
          Write Away
          <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/designmodo" title="Designmodo">Designmodo</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
        </div>
      </section>


<!-- Close Container -->
    </div>

    </script>



    <!-- Current User -->
    <script type="text/template" id="current-user-template">
      <div class="friend-view">

      <div class="row">
        <div class="col-xs-2 text-left">
          <span class="prompt-label">Writer Score: <%%= writer_score %></span>
          <br>
          <span class="prompt-label">Reviewer Score: <%%= reviewer_score %></span>
          <br>
        </div>

        <div class="col-xs-4 col-xs-offset-2 text-center prompt-label">
          <div data-no-turbolink id="post-author-stats">
            <div class="user-pic-box"></div>
            <h3><%%= username %></h3>

          </div>
        </div>

        <div class="col-xs-2 col-xs-offset-2 text-right">
          <div data-no-turbolink>
            <a href="/users/edit">Edit</a>
          </div>
          <%= link_to 'Log Out', '/sessions', method: :delete  %>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12"><div class="vertical-space"></div></div>
      </div>

      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 text-left">
          <span class="prompt-label">Reading: <%%= currently_reading %></span>
          <br>
          <span class="prompt-label">Writing Goal: <%%= writing_goal %></span>
        </div>
        <div class="col-xs-6 text-left">
          <span class="prompt-label">Favorite Authors: <%%= favorite_author %></span>
          <br>
          <span class="prompt-label">Favorite Books: <%%= favorite_book %></span>
          <br>
          <span class="prompt-label">Favorite Genres: <%%= favorite_genre %></span>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12"><div class="vertical-space"></div></div>
      </div>

      <div class="row">
        <div class="col-xs-3 text-left">
          <span class="prompt-label">From: <%%= from %></span>
        </div>
        <div class="col-xs-9 text-left">
          <span class="prompt-label">About:<%%= about %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12"><div class="vertical-space"></div></div>
      </div>

      <div class="row">
        <!-- <button type="button" class="btn btn-info make-challenge">Issue Challenge</button> -->
        <!-- <button type="button" class="btn btn-info show-challenges">Show Challenges</button> -->
      </div>
      <div id="user-post-list">

      </div>
    </script>


    <!-- Show the Prompt -->
    <script type="text/template" id="writing-prompt-template">
        <h4 class="prompt-text">
            <%%= prompt %>
        </h4>
    </script>



    <!-- Make a New Post -->

    <script type="text/template" id="create-post-template">
          <div class="row">
            <div class="col-xs-12 text-center">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
            </div>

          </div>


          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <!-- Create the toolbar container -->
                <div id="post-toolbar">
                  <span class="ql-format-group">
                    <span title="Bold" class="ql-format-button ql-bold"></span>
                    <span class="ql-format-separator"></span>
                    <span title="Italic" class="ql-format-button ql-italic"></span>
                    <span class="ql-format-separator"></span>
                    <span title="Underline" class="ql-format-button ql-underline"></span>
                  <select title="Text Color" class="ql-color">
                    <option value="rgb(0, 0, 0)" selected></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)"></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                  <select title="Background Color" class="ql-background">
                    <option value="rgb(0, 0, 0)"></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)" selected></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                </div>

                <!-- Create the editor container -->
                <div class="row">
                <div class="col-xs-12">
                  <div id="post-editor" class="post-body">
                  </div>
                </div>
              </div>

                <!-- <textarea class="form-control" id="post-body" rows="10" name="post[message]" placeholder="...post"></textarea> -->
                <!-- Close Form Group  -->
              </div>
              <span class="publish">Publish</span>

          <!-- Close column and row -->
            </div>
          </div>

    </script>

  <!-- Post List Menu -->
    <script type="text/template" id="post-list-menu">
      <!-- <h1 class="post-list-header">Read</h1> -->

      <!-- <div class="row"> -->

        <div class="genre-links">


        <!-- <div class="write-nav">Write</div> -->
        <div class="sidenav-row">
          Write
        </div>

        <div class="sidenav-row show-friends">
          <img src="http://i.imgur.com/TG0UhYo.png" class="sort-image"></img>
          Writers
        </div>

        <div class="sort sidenav-row" data-url="friends">
          <div class="sort-text">Friends Post (need to set up route)</div>
        </div>

        <div class="sidenav-seperator">

        </div>

        <div class="sidenav-row text-center show-genres">
          Genres
        </div>

        <div class="genres">
        <div class="sort sidenav-row" data-url="all">
          <img src="http://i.imgur.com/hR2f8aM.png" class="sort-image"></img>
          <div class="sort-text">All</div>
        </div>
        <div class="sort sidenav-row" data-url="Fiction">
          <img src="http://i.imgur.com/BI8PegK.png" class="sort-image"></img>
           <div class="sort-text">Fiction</div>
         </div>
        <div class="sort sidenav-row" data-url="Fantasy">
          <img src="http://i.imgur.com/ffCviDQ.png" class="sort-image"></img>
           <div class="sort-text">Fantasy</div>
         </div>
        <div class="sort sidenav-row" data-url="Horror">
          <img src="http://i.imgur.com/iJvfYS1.png" class="sort-image"></img>
           <div class="sort-text">Horror</div>
         </div>
        <div class="sort sidenav-row" data-url="Thriller">
          <img src="http://i.imgur.com/ojVa8BI.png" class="sort-image"></img>
           <div class="sort-text">Thriller</div>
         </div>
        <div class="sort sidenav-row" data-url="Historical-Fiction">
          <img src="http://i.imgur.com/lHyRvye.png" class="sort-image"></img>
          <div class="sort-text">Historical</div>
        </div>
        <div class="sort sidenav-row" data-url="Crime">
          <img src="http://i.imgur.com/8w44WhP.png" class="sort-image"></img>
          <div class="sort-text">Crime</div>
        </div>
        <div class="sort sidenav-row" data-url="Romance">
          <img src="http://i.imgur.com/zz5QHWN.png" class="sort-image"></img>
           <div class="sort-text">Romance</div>
         </div>

        <div class="sort sidenav-row" data-url="Science-Fiction">
          <img src="http://i.imgur.com/K1kGfUE.png" class="sort-image"></img>
           <div class="sort-text">SciFi</div>
         </div>
        <div class="sort sidenav-row" data-url="Poetry">
          <img src="http://i.imgur.com/F71bhWM.png" class="sort-image"></img>
          <div class="sort-text">Poetry</div>
        </div>
        <div class="sort sidenav-row" data-url="Humor">
          <img src="http://i.imgur.com/Iw9CxT2.png" class="sort-image"></img>
          <div class="sort-text">Humor</div>
        </div>
        <div class="sort sidenav-row" data-url="Non-Fiction">
          <img src="http://i.imgur.com/tH5XICv.png" class="sort-image"></img>
          <div class="sort-text">Non-Fiction</div>
        </div>
      </div>


      </div>
    </script>


    <!-- Writing Side Nav -->
      <script type="text/template" id="writing-side-nav">
        <!-- <h1 class="post-list-header">Read</h1> -->

        <!-- <div class="row"> -->
        <!-- Post Title -->
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="post-title">Title</label>
              <input type="text" id="post-title" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <label for="choose-genre">Genre</label>
            <select class="form-control input-lg" id="choose-genre">
                <option>Fiction</option>
                <option>Fantasy</option>
                <option>Historical-Fiction</option>
                <option>Horror</option>
                <option>Thriller</option>
                <option>Crime</option>
                <option>Romance</option>
                <option>Science-Fiction</option>
                <option>Poetry</option>
                <option>Non-Fiction</option>
            </select>
          </div>
        </div>

          <div class="genre-links">


          <!-- <div class="write-nav">Write</div> -->
          <div class="sidenav-row">

          </div>

          <div class="sidenav-row" data-url="friends">
            Required Word Count:
            <h5 id="required-word-count"></h5>
          </div>

          <div class="sidenav-row" data-url="friends">
            Word Count:
            <h5 id="current-word-count"></h5>
          </div>

          <div class="sidenav-row">
            Time Elapsed:
            <h5 id="stopwatch">00:00</h5>
          </div>

          <div class="sidenav-row" data-url="friends">
            Words Per Minute:
          </div>

          <div class="sidenav-seperator">

          </div>

          <div class="sidenav-row">
          </div>

        </div>
      </script>



      <!-- Post  -->
    <script type="text/template" id='post-template'>


        <div class="row">
          <div class="col-xs-2  text-center prompt-label">
            <strong> <%%= genre %> </strong>
            <br>
            <strong id="created-at">Posted  </strong>

          </div>
          <div class="col-xs-4 col-xs-offset-2 text-center prompt-label">
            <br>
            <div data-no-turbolink id="post-author-stats">
              <div class="post-pic-box">

              </div>
            <a href="/users/profile/<%%= user_id %>" class="post-author text-right">
                <!-- username rendered here -->
            </a>
          <div class="post-add-friend">

          </div>
          </div>
          </div>

          <div class="col-xs-2 col-xs-offset-2 text-center prompt-label">
            <span id="average-rating">    </span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3">

          </div>
        </div>
        <div class-"row">
          <div class="col-xs-6"></div>
        </div>
        <div class="row">
          <div class="col-xs-12"><div class="vertical-space"></div></div>
        </div>

        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 text-left">
            <div class="post-prompt-type"></div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-4">
          </div>
          <div class="col-xs-4">
            <div class="vertical-space"></div>
          </div>
        </div>




        <div class="row">
          <div class="col-xs-12">
            <div class="post-box prompt-label">
              <div data-no-turbolink  class="prompt-label text-left" id="title-holder"></div>
              <br>
              <p class="posted-message">
                <%%= message %>
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="vertical-space"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1">

          </div>
          <div class="col-xs-6">
          </div>
          <div class="col-xs-2">
          </div>

          <div class="col-xs-3 text-right">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="vertical-space"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-10">

          </div>
          <div class="col-xs-2">
            <div class="remove-post-box">

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3">

          </div>
          <div class="col-xs-6">
            <div class="horizontal-line">


            </div>
          </div>
          <div class="col-xs-3">

          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 text-left">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <span class="prompt-label">Rate this Post</span>
            <div class="rating">
              <div class="rating-button" data-post="<%%= id %>" id="star5" value="5" /><label for="star5" class="rating-button" id="label-star5" data-post="<%%= id %>"
                title="Shakespeare" data-value="5">5 stars</label>
              <div class="rating-button" data-post="<%%= id %>" id="star4" value="4" /><label for="star4" class="rating-button" id="label-star4" data-post="<%%= id %>"
                title="Wordsmith" data-value="4">4 stars</label>
              <div class="rating-button" data-post="<%%= id %>" id="star3" value="3" /><label for="star3" class="rating-button" id="label-star3" data-post="<%%= id %>"
                title="Scribe" data-value="3">3 stars</label>
              <div class="rating-button" data-post="<%%= id %>" id="star2" value="2" /><label for="star2" class="rating-button" id="label-star2" data-post="<%%= id %>"
                title="Novice" data-value="2">2 stars</label>
              <div class="rating-button" data-post="<%%= id %>" id="star1" value="1" /><label for="star1" class="rating-button" id="label-star1" data-post="<%%= id %>"
                title="Beginner" data-value="1">1 star</label>
              <div type="hidden" id="post-id" value="<%%= id %>"></input>
            </div></div></div></div></div></div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="new-critique-form">
              <h5 class="text-left prompt-label show-feedback">Give Feedback</h5>
            </div>
          </div>
        </div>



          <!-- Confirm Post Delete Modal -->
          <div class="modal" id="deletePost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                  Do you wish to delete this post?
                  <br>
                  <br>
                  <%%= title %>
                  <br>
                  <br>
                  <%%= message %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary delete-post">Yes</button>
                </div>
              </div>
            </div>
          </div>



    </script>


    <script type="text/template" id="critique-post-template">

      <!-- Critique Form -->


          <div class="row">
            <div class="col-xs-12 text-right">
              <textarea id="critique-editor" class="post-body"></textarea>

              <button value="Save" class="save-critique wa-horizontal-button"><img style="width: 25%;" src="http://i.imgur.com/s5p0JYL.png"/><img style="width: 25%; margin-right: 5%;" src="http://i.imgur.com/JlGW9RA.png"/><br>Submit</button>

              <input type="hidden" name="critique[post_id]" id="critique-post-id">

            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="make-critique-box">

              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-1 col-xs-offset-9">
            </div>
            <div class="col-xs-1">

            </form>

            </div>
          </div>

                <!-- <textarea class= "form-control" id="critique-message" rows="10" name="critique[message]" placeholder="...enter critique"></textarea> -->

              <div class="row">
                <div class="col-xs-2">
                  <div class="show-critiques-box prompt-label">

                  </div>
                </div>
                <div class="col-xs-6 col-xs-offset-4">

                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="vertical-space">

                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-xs-12">
                  <div class="critiques-list">

                  </div>
                </div>
              </div>

            </div>



    </script>



    <!-- New Post -->
    <script type="text/template" id="new-template">


      <!-- <div class="row">
        <div class="col-xs-12 text-right">
          <div class="circle-button">X</div>
          <br>
          <span class="prompt-label">press esc to go back (does not work yet)</span>
        </div>
      </div> -->

      <div class="row">
        <div class="col-xs-12 text-right">
          <div class="vertical-space"></div>
        </div>
      </div>

      <div id="prompt-series">

      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"></div>

      </div>





      <div class="row">
        <div class="col-xs-12 text-center">
          <h5 class="new-instruction">What type of writing prompt?</h5>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-xs-12 col-md-4">
          <select class="form-control" id="choose-type">
              <option>Use One Word</option>
              <option>Answer What If</option>
              <option>Classic First Sentence</option>
              <option>reddit</option>
          </select>
        </div>
        <div class="col-xs-12 col-md-6 text-center">

        </div>
      </div>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-xs-12 col-md-4 text-center">
          <div id="prompt-description" class="prompt-label">
            This will hold a description of the selected prompt
          </div>
        </div>
      </div>

      <!-- Space -->
      <div class="row">
        <div class="col-xs-12">
          <div class="vertical-space">
          </div>
          <div class="vertical-space">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 text-center">
          <h5 class="new-instruction">How many words?</h5>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="vertical-space">
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5 text-center">
          <input type="number" value="25" min ="25" max="1000" step="25" class="form-control input-lg" id="post-word-count"></input>
          <span class="prompt-label">1,000 max</span>
        </div>
        <div class="col-xs-1">
          <br>
          <span class="brand-font">words.</span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="vertical-space">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <div class="vertical-space">
          </div>
        </div>
        <div class="col-xs-4">
          <button class="render-prompt btn btn-default">See Your Prompt</button>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 text-center">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <div id="prompt-container"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="vertical-space">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-xs-12 col-md-6">
          <div id="start-writing-container">
          </div>
        </div>
      </div>




      <div class="row">
        <div class="col-xs-12">
          <div class="vertical-space">

          </div>
          <div class="vertical-space">

          </div>
        </div>
      </div>




      <!-- Close Prompt Series -->
    </div>

    </script>


      <!-- Critique -->
      <script type="text/template" id="critique-template">

            <div class="row">

            </div>

            <div class="row">
              <div class="col-xs-1 col-xs-offset-10">
                <div class="edit-critique-box">

                </div>
              </div>
              <div class="col-xs-1">
                <div class="remove-critique-box">

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4">
                <br>
              </div>
            </div>


            <div class="row">

              <div class="col-xs-12">
                <p class="critique-message">
                    <%%= message %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-2">
                <span class="up-vote vote"><img src="http://i.imgur.com/yGGvK3m.png"/></span>

              </div>
            </div>

            <div class="row">
              <div class="col-xs-2 text-center">
                <%%= total_votes %>
              </div>
              <div class="col-xs-8 text-right">

              </div>

            </div>

            <div class="row">
              <div class="col-xs-2">
                <span class="down-vote vote"><img src="http://i.imgur.com/cLJ1Yfv.png"/></span>

              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 col-xs-offset-8 text-right">
                <img src="<%%= image_url %>" class="critique-profile-picture img-circle"></img>
                <%%= username %>
              </div>

            </div>

            <!-- <br>
            <div class="row">
              <div class="col-xs-1">

              </div>


            </div> -->



            <!-- Confirm Critique Delete Modal -->
            <div class="modal" id="deleteCritique" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                  </div>
                  <div class="modal-body">
                    Do you wish to delete your critique?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary delete-critique">Yes</button>
                  </div>
                </div>
              </div>
            </div>
          </script>

        <!-- Critique Form -->
          <script type="text/template" id="critique-form-template">

            <!-- <div class="row">
              <div class="col-xs-12">
                <div class="new-critique-form">
                  <h5 class="text-left">Edit Critique</h5>
                  <form id="create-critique">
                    <input type="hidden" name="critique[user_id]" value="<%= @user.id %>">
                    <div id="full-toolbar">
                      <span class="ql-format-group">
                        <span title="Bold" class="ql-format-button ql-bold"></span>
                        <span class="ql-format-separator"></span>
                        <span title="Italic" class="ql-format-button ql-italic"></span>
                        <span class="ql-format-separator"></span>
                        <span title="Underline" class="ql-format-button ql-underline"></span>
                      <select title="Text Color" class="ql-color">
                        <option value="rgb(0, 0, 0)" selected></option>
                        <option value="rgb(230, 0, 0)"></option>
                        <option value="rgb(255, 153, 0)"></option>
                        <option value="rgb(255, 255, 0)"></option>
                        <option value="rgb(0, 138, 0)"></option>
                        <option value="rgb(0, 102, 204)"></option>
                        <option value="rgb(153, 51, 255)"></option>
                        <option value="rgb(255, 255, 255)"></option>
                        <option value="rgb(250, 204, 204)"></option>
                        <option value="rgb(255, 235, 204)"></option>
                        <option value="rgb(255, 255, 204)"></option>
                        <option value="rgb(204, 232, 204)"></option>
                        <option value="rgb(204, 224, 245)"></option>
                        <option value="rgb(235, 214, 255)"></option>
                        <option value="rgb(187, 187, 187)"></option>
                        <option value="rgb(240, 102, 102)"></option>
                        <option value="rgb(255, 194, 102)"></option>
                        <option value="rgb(255, 255, 102)"></option>
                        <option value="rgb(102, 185, 102)"></option>
                        <option value="rgb(102, 163, 224)"></option>
                        <option value="rgb(194, 133, 255)"></option>
                        <option value="rgb(136, 136, 136)"></option>
                        <option value="rgb(161, 0, 0)"></option>
                        <option value="rgb(178, 107, 0)"></option>
                        <option value="rgb(178, 178, 0)"></option>
                        <option value="rgb(0, 97, 0)"></option>
                        <option value="rgb(0, 71, 178)"></option>
                        <option value="rgb(107, 36, 178)"></option>
                        <option value="rgb(68, 68, 68)"></option>
                        <option value="rgb(92, 0, 0)"></option>
                        <option value="rgb(102, 61, 0)"></option>
                        <option value="rgb(102, 102, 0)"></option>
                        <option value="rgb(0, 55, 0)"></option>
                        <option value="rgb(0, 41, 102)"></option>
                        <option value="rgb(61, 20, 102)"></option>
                      </select><span class="ql-format-separator"></span>
                      <select title="Background Color" class="ql-background">
                        <option value="rgb(0, 0, 0)"></option>
                        <option value="rgb(230, 0, 0)"></option>
                        <option value="rgb(255, 153, 0)"></option>
                        <option value="rgb(255, 255, 0)"></option>
                        <option value="rgb(0, 138, 0)"></option>
                        <option value="rgb(0, 102, 204)"></option>
                        <option value="rgb(153, 51, 255)"></option>
                        <option value="rgb(255, 255, 255)" selected></option>
                        <option value="rgb(250, 204, 204)"></option>
                        <option value="rgb(255, 235, 204)"></option>
                        <option value="rgb(255, 255, 204)"></option>
                        <option value="rgb(204, 232, 204)"></option>
                        <option value="rgb(204, 224, 245)"></option>
                        <option value="rgb(235, 214, 255)"></option>
                        <option value="rgb(187, 187, 187)"></option>
                        <option value="rgb(240, 102, 102)"></option>
                        <option value="rgb(255, 194, 102)"></option>
                        <option value="rgb(255, 255, 102)"></option>
                        <option value="rgb(102, 185, 102)"></option>
                        <option value="rgb(102, 163, 224)"></option>
                        <option value="rgb(194, 133, 255)"></option>
                        <option value="rgb(136, 136, 136)"></option>
                        <option value="rgb(161, 0, 0)"></option>
                        <option value="rgb(178, 107, 0)"></option>
                        <option value="rgb(178, 178, 0)"></option>
                        <option value="rgb(0, 97, 0)"></option>
                        <option value="rgb(0, 71, 178)"></option>
                        <option value="rgb(107, 36, 178)"></option>
                        <option value="rgb(68, 68, 68)"></option>
                        <option value="rgb(92, 0, 0)"></option>
                        <option value="rgb(102, 61, 0)"></option>
                        <option value="rgb(102, 102, 0)"></option>
                        <option value="rgb(0, 55, 0)"></option>
                        <option value="rgb(0, 41, 102)"></option>
                        <option value="rgb(61, 20, 102)"></option>
                      </select><span class="ql-format-separator"></span>
                    </div>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-xs-12">
              <!-- Create the editor container -->
              <textarea id="edit-critique" class="post-body"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1 col-xs-offset-10">
              <a class="close-critique">cancel</button>
            </div>
            <div class="col-xs-1">
              <span class="save-edited-critique btn btn-info">Save</span>
            </div>
          </div>
                <!-- <textarea class= "form-control" id="critique-message" rows="10" name="critique[message]" placeholder="...enter critique"></textarea> -->
                <input type="hidden" name="critique[post_id]" id="critique-post-id">
              </form>
            </div>
        </script>

    <!-- Render Prompt Form -->

    <script type="text/template" id="friend-view-template">

      <div class="row">
        <div class="col-xs-2 text-left">
          <span class="prompt-label">Writer Score: <%%= writer_score %></span>
          <br>
          <span class="prompt-label">Reviewer Score: <%%= reviewer_score %></span>
          <br>
        </div>

        <div class="col-xs-4 col-xs-offset-2 text-center prompt-label">
          <div data-no-turbolink id="post-author-stats">
            <div class="user-pic-box"></div>
            <h3><%%= username %></h3>

          </div>
        </div>

        <div class="col-xs-2 col-xs-offset-2 text-right" id="friend-button-holder">
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12"><div class="vertical-space"></div></div>
      </div>

      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 text-left">
          <span class="prompt-label">Reading: <%%= currently_reading %></span>
          <br>
          <span class="prompt-label">Writing Goal: <%%= writing_goal %></span>
        </div>
        <div class="col-xs-6 text-left">
          <span class="prompt-label">Favorite Authors: <%%= favorite_author %></span>
          <br>
          <span class="prompt-label">Favorite Books: <%%= favorite_book %></span>
          <br>
          <span class="prompt-label">Favorite Genres: <%%= favorite_genre %></span>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12"><div class="vertical-space"></div></div>
      </div>

      <div class="row">
        <div class="col-xs-3 text-left">
          <span class="prompt-label">From: <%%= from %></span>
        </div>
        <div class="col-xs-9 text-left">
          <span class="prompt-label">About:<%%= about %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12"><div class="vertical-space"></div></div>
      </div>

      <div class="row">
        <!-- <button type="button" class="btn btn-info make-challenge">Issue Challenge</button> -->
        <!-- <button type="button" class="btn btn-info show-challenges">Show Challenges</button> -->
      </div>
      <div id="challenge-list">

      </div>

      <input type="hidden" name="friendship[friend_id]" value="<%%= id %>" class="friend-id-holder">
      <input type="hidden" name="friendship[user_id]" value="<%= @user.id %>" class="user-id-holder">

    </script>

    <script type="text/template" id="follower-view-template">
      <h3><%%= username %></h3>
    </script>


    <script type="text/template" id="no-challenges-screen">

      <div class="row">
        <div class="col-xs-12">
          You do not have any challenges.  Challenge your friends
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          Find other authors.
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          Challenge your friends!
        </div>
      </div>




    </script>



    <script type="text/template" id="user-view-template">
      <h3 class="user-name-header"><img src="<%%= image_url %>" class="img-circle profile-picture"</><%%= username %></h3>
      <form>
        <button type="button" class="btn btn-danger add-friend">Add Friend</button>
        <input type="hidden" name="friendship[friend_id]" value="<%%= id %>" class="friend-id-holder">
        <input type="hidden" name="friendship[user_id]" value="<%= @user.id %>" class="user-id-holder">
      </form>

    </script>

    <script type="text/template" id="friend-button-template">
      <button type="button" class="btn btn-danger show-friends">Show Friends</button>
    </script>




<script type="text/template" id="challenge-form-template">
  <div class="new-post-box">



    <div id="challenge-container">
    </div>
        <label for="choose-type">Choose Type</label>
        <select class="form-control input-lg" id="choose-type">
            <option data-id="1">One Word</option>
            <option data-id="2">What If</option>
            <option data-id="3">3</option>
            <option data-id="4">4</option>
            <option data-id="5">5</option>
        </select>
        <button class="render-challenge btn btn-primary btn-lg btn-block">Render Challenge</button>
        <form id="create-challenge">
          Word Count: <p id="word-count"></p>
            <input id="challenge-word-count" type="hidden" name=challenge[word_count] value="25"/>
            <div id="slider-challenge-word-count"></div>

    <!-- <button class="btn btn-danger send-challenge">Send Challenge</button> -->
    <input type="submit" value="Send Challenge" class="btn btn-danger send-challenge">
        </form>


  </div>
</script>

    <script type="text/template" id="challenge-template">
      <div class="challenge-message">
          <%%= prompt %>
          <%%= word_count %>
          <%%= status %>
          <%%= message %>
        <button type="button" class='remove-challenge btn btn-danger'>Cancel</button>

      </div>
    </script>

    <script type="text/template" id="received-challenge-template">
      <div class="challenge-message">
          <%%= prompt_type %>
          <br>
          <%%= prompt %>|<%%= word_count %>
          <button type="button" class='accept-challenge btn btn-info'>Accept</button>
        <button type="button" class='remove-challenge btn btn-danger'>Deny </button>

      </div>
    </script>

    <script type="text/template" id="completed-challenge-template">
      <div class="post-prompt-type">
        <strong><%%= prompt_type %></strong>
        <%%= prompt %> | <%%= word_count %> words
      </div>
      <div class="completed-challenge-message">
          <%%= message %><br>
      </div>
    </script>

    <script type="text/template" id="accept-challenge-form-template">
      <div class="new-post-box">

        <div id="challenge-type"></div>
        <div id="challenge-container"></div>
        <div id="challenge-word-count"></div>
        <div id="current-challenge-word-count">        </div>

        <p id="challenge-error"></p>


            <form id="challenge-accept-form">

              <div class="form-group">
                <div id="full-toolbar">
                  <!-- Add a bold button -->
                  <span class="ql-format-group">
                    <span title="Bold" class="ql-format-button ql-bold"></span>
                    <span class="ql-format-separator"></span>
                    <span title="Italic" class="ql-format-button ql-italic"></span>
                    <span class="ql-format-separator"></span>
                    <span title="Underline" class="ql-format-button ql-underline"></span>
                  <select title="Text Color" class="ql-color">
                    <option value="rgb(0, 0, 0)" selected></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)"></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                  <select title="Background Color" class="ql-background">
                    <option value="rgb(0, 0, 0)"></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)" selected></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                </div>
                <!-- Create the editor container -->
                <div id="challenge-editor" class="challenge-body">
                </div>
                <br>
                <!-- <textarea class="form-control" id="challenge-body" rows="10" name="post[message]" placeholder="...post"></textarea> -->
              </div>
        <!-- <button class="btn btn-danger send-challenge">Send Challenge</button> -->
        <!-- <input type="submit" value="Submit" class="btn btn-danger submit-challenge"> -->
            <input type="submit" class='submit-challenge btn btn-danger' value="Submit"></button>

            </form>


      </div>
    </script>

</head>


<body id="main-page">


  <!-- <div class="container-fluid" > -->

    <%= yield %>

  <!-- </div> -->

  <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>
</body>
</html>
