<html>
<head>
  <title>Write Away</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>

  <!-- Awesome font icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!--  Header -->
  <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>

  <!-- Title Font -->
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  <!-- Helper Text -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <!-- Post Font -->
  <link href='https://fonts.googleapis.com/css?family=Krona+One|Josefin+Sans:400,400italic,700italic,700' rel='stylesheet' type='text/css'>

  <!-- Romance Font -->
  <link href='https://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>

  <!-- Horror Font -->
  <link href='https://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>

  <!-- Historical Fiction -->
  <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
<!-- Sci Fi -->
  <link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//cdn.quilljs.com/0.19.10/quill.snow.css" />
  <script src="//cdn.quilljs.com/0.19.10/quill.min.js"></script>

  <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

  <!-- Main Page -->
    <script type="text/template" id="navbar-template">
      <%= render 'navbar' %>
    </script>

    <script type="text/template" id="main-page-template">
      <%= render 'main_page' %>
    </script>

  <!-- Writing Page -->
    <script type="text/template" id="writing-page-template">
      <%= render 'writing_page' %>
    </script>

    <script type="text/template" id="new-post-template">
      <%= render 'new_post' %>
    </script>

    <script type="text/template" id="writing-prompt-template">
        <h4 class="prompt-text">
            <%%= prompt %>
        </h4>
    </script>

    <!-- Posts -->
      <script type="text/template" id="post-feed-menu-template">
        <%= render 'post_feed_menu' %>
      </script>

      <script type="text/template" id="post-feed-template">
        <%= render 'post_feed' %>
      </script>


      <script type="text/template" id='post-preview-template'>
        <%= render 'post_preview' %>
      </script>

      <script type="text/template" id='post-template'>
        <%= render 'post' %>
      </script>

    <!-- Critiques -->
      <script type="text/template" id="critique-template">
        <%= render 'critique' %>
      </script>

      <script type="text/template" id="critique-form-template">
        <%= render 'critique_form' %>
      </script>

      <script type="text/template" id="critique-post-template">
        <%= render 'critique_post' %>
      </script>

  <!-- Prompts Page -->
    <script type="text/template" id="prompt-page-template">
      <%= render 'prompt_page' %>
    </script>

    <script type="text/template" id="submitted-prompt-template">
      <%= render 'submitted_prompt' %>
    </script>

  <!-- Profile Page -->
    <script type="text/template" id="current-user-template">
      <%= render 'current_user' %>
    </script>

  <!-- Friends -->
    <script type="text/template" id="friend-nav-template">
      <%= render 'friend_nav' %>
    </script>

    <script type="text/template" id="friend-view-template">
      <%= render 'friend_view' %>
    </script>

    <script type="text/template" id="user-view-template">
      <%= render 'user_view' %>
    </script>

    <script type="text/template" id="follower-view-template">
      <h3><%%= username %></h3>
    </script>

    <script type="text/template" id="friend-button-template">
      <button type="button" class="btn btn-danger show-friends">Show Friends</button>
    </script>

  <!-- Challenges -->
    <script type="text/template" id="no-challenges-screen">
      <%= render 'no_challenges' %>
    </script>

    <script type="text/template" id="make-challenge-template">
      <%= render 'make_challenge' %>
    </script>

    <script type="text/template" id="challenge-nav-template">
      <%= render 'challenge_nav' %>
    </script>

    <script type="text/template" id="challenge-form-template">
      <%= render 'challenge_form' %>
    </script>

    <script type="text/template" id="challenge-template">
      <%= render 'challenge' %>
    </script>

    <script type="text/template" id="received-challenge-template">
      <%= render 'received_challenge' %>
    </script>

    <script type="text/template" id="completed-challenge-template">
      <%= render 'completed_challenge' %>
    </script>


    <script type="text/template" id="challenge-response-template">
      <%= render 'challenge_response' %>
    </script>

    <script type="text/template" id="response-form-template">
      <%= render 'response_form' %>
    </script>

    <script type="text/template" id="accept-challenge-form-template">
      <%= render 'accept_challenge_form' %>
    </script>

    <!-- Resources Page -->
      <script type="text/template" id="resource-page-template">
        <%= render 'resource_page' %>
      </script>

      <script type="text/template" id="resource-form-template">
        <%= render 'resource_form' %>
      </script>

      <script id="resource-view-template" type="text/template">
        <%= render 'resource_view' %>
      </script>

      <script type="text/template" id="edit-resource-template">
        <%= render 'edit_resource' %>
      </script>


</head>


<body id="main-page">

    <%= yield %>


  <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>
</body>
</html>
