<html>
<head>
  <title>Write Away</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdn.quilljs.com/0.19.10/quill.snow.css" />
  <script src="//cdn.quilljs.com/0.19.10/quill.min.js"></script>


    <!-- Main Page -->
    <script type="text/template" id="main-page-template">

      <input type="hidden" id="current_user" value="<%= @user.username %>">
      <input type="hidden" id="current_id" value="<%= @user.id %>">

      <!-- Nav Bar -->
      <nav class="navbar navbar-default  navbar-fixed-top">
      <div class="container-fluid"  id="header">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <li class="home-page"><a href="/">Write Away</a></li>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li id="username"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navbar-username" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="<%= @user.image_url %>" class="img-circle profile-picture"</>
                <%= @user.username %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="add-friends"><a>Add Friends</a></li>
                <li class="render-friends"><a>Challenges</a></li>
                <li role="separator" class="divider"></li>
                  <li><%= link_to 'Log Out', '/sessions', method: :delete  %></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid" id="main-display">

    <div class="row">

      <!-- Left Side -->
      <div class="col-sm-1 col-md-1 col-lg-1 hidden-xs">
        <div id="left-pane">
          <br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>

      <!-- Center -->
      <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
        <div id="center-pane">
            <!-- <div class="left-side-main">
              <a class="read-nav btn btn-primary">Read</a>
            </div>
            <div class="line-seperator">

            </div>
            <div class="right-side-main">
              <a class="write-nav btn btn-primary">Write</a>
            </div> -->
          </div>

          <!-- <div id="new-post-box"></div> -->
          <!-- <div class="post-list-controller"></div> -->
          <!-- <div id="post-list"></div> -->
        </div>
      </div>

      <!-- Right Pane -->
      <!-- <div class="col-sm-2 col-md-3 col-lg-3 hidden-xs">
          <div id="right-pane"></div>
      </div> -->

    </div>

  </div>
    </script>


    <script type="text/template" id="prompt-form-template">

      <div class="new-post-box">
        <!-- <h1 class='post-header'>Write</h1> -->

        <!-- <div id="stopwatch">0:0:0</div>
            <div id="controls">
              <button id="start">Start</button>
              <but  ton id="stop">Stop</button>
              <button id="reset">Reset</button>
            </div> -->


            <form>
              <div class="row">
                <div class="col-xs-12">
                  <h3 class="create-post-header">New Writing Exercise</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div id="prompt-container">
                    Generate a Writing Prompt to start!
                  </div>
                </div>
                <div class="col-xs-6">
                  <label for="choose-type">Choose Genre</label>
                  <select class="form-control" id="choose-genre">
                      <option>Fiction</option>
                      <option>Fantasy</option>
                      <option>Horror</option>
                      <option>Thriller</option>
                      <option>Crime</option>
                      <option>Romance</option>
                      <option>Science-Fiction</option>
                      <option>Non-Fiction</option>
                  </select>
                  <label for="choose-type">Choose Writing Prompt Type</label>
                  <select class="form-control" id="choose-type">
                      <option>Use One Word</option>
                      <option>Answer What If</option>
                      <option>Classic First Sentence</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <input id="post-word-count" type="hidden" name=post[word_count] value="25"/>
                  <div id="slider-word-count"></div>
                  <div id="slider-word-count-display">
                    <label>Write at least <span id="word-count">25</span> words</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="post-button-container">
                    <button class="render-prompt btn btn-primary">Generate Prompt</button>
                  </div>
                </div>
              </div>



            </form>



      </div>

    </script>

    <!-- Show the Prompt -->
    <script type="text/template" id="writing-prompt-template">
        <h4 class="prompt-text">
            <%%= prompt %>
        </h4>
    </script>



    <script type="text/template" id="create-post-template">
      <div class="new-post-box">
      <!-- <h1 class="create-post-header">Write</h3> -->

        <form id="create-post">
          <div class="row">
            <div class="col-xs-12">
              <h4 id="post-genre"></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h5 id="post-box-type"></h5>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="character-count"></p>
            </div>
          </div>

          <!-- Post Title -->
          <div class="form-group">
            <label for="post-title">Title</label>
            <input type="text" id="post-title" class="form-control">
          </div>

          <div class="form-group">
            <!-- Create the toolbar container -->
            <div id="post-toolbar">
              <!-- Add a bold button -->
              <span class="ql-format-group">
                <span title="Bold" class="ql-format-button ql-bold"></span>
                <span class="ql-format-separator"></span>
                <span title="Italic" class="ql-format-button ql-italic"></span>
                <span class="ql-format-separator"></span>
                <span title="Underline" class="ql-format-button ql-underline"></span>
              <select title="Text Color" class="ql-color">
                <option value="rgb(0, 0, 0)" selected></option>
                <option value="rgb(230, 0, 0)"></option>
                <option value="rgb(255, 153, 0)"></option>
                <option value="rgb(255, 255, 0)"></option>
                <option value="rgb(0, 138, 0)"></option>
                <option value="rgb(0, 102, 204)"></option>
                <option value="rgb(153, 51, 255)"></option>
                <option value="rgb(255, 255, 255)"></option>
                <option value="rgb(250, 204, 204)"></option>
                <option value="rgb(255, 235, 204)"></option>
                <option value="rgb(255, 255, 204)"></option>
                <option value="rgb(204, 232, 204)"></option>
                <option value="rgb(204, 224, 245)"></option>
                <option value="rgb(235, 214, 255)"></option>
                <option value="rgb(187, 187, 187)"></option>
                <option value="rgb(240, 102, 102)"></option>
                <option value="rgb(255, 194, 102)"></option>
                <option value="rgb(255, 255, 102)"></option>
                <option value="rgb(102, 185, 102)"></option>
                <option value="rgb(102, 163, 224)"></option>
                <option value="rgb(194, 133, 255)"></option>
                <option value="rgb(136, 136, 136)"></option>
                <option value="rgb(161, 0, 0)"></option>
                <option value="rgb(178, 107, 0)"></option>
                <option value="rgb(178, 178, 0)"></option>
                <option value="rgb(0, 97, 0)"></option>
                <option value="rgb(0, 71, 178)"></option>
                <option value="rgb(107, 36, 178)"></option>
                <option value="rgb(68, 68, 68)"></option>
                <option value="rgb(92, 0, 0)"></option>
                <option value="rgb(102, 61, 0)"></option>
                <option value="rgb(102, 102, 0)"></option>
                <option value="rgb(0, 55, 0)"></option>
                <option value="rgb(0, 41, 102)"></option>
                <option value="rgb(61, 20, 102)"></option>
              </select><span class="ql-format-separator"></span>
              <select title="Background Color" class="ql-background">
                <option value="rgb(0, 0, 0)"></option>
                <option value="rgb(230, 0, 0)"></option>
                <option value="rgb(255, 153, 0)"></option>
                <option value="rgb(255, 255, 0)"></option>
                <option value="rgb(0, 138, 0)"></option>
                <option value="rgb(0, 102, 204)"></option>
                <option value="rgb(153, 51, 255)"></option>
                <option value="rgb(255, 255, 255)" selected></option>
                <option value="rgb(250, 204, 204)"></option>
                <option value="rgb(255, 235, 204)"></option>
                <option value="rgb(255, 255, 204)"></option>
                <option value="rgb(204, 232, 204)"></option>
                <option value="rgb(204, 224, 245)"></option>
                <option value="rgb(235, 214, 255)"></option>
                <option value="rgb(187, 187, 187)"></option>
                <option value="rgb(240, 102, 102)"></option>
                <option value="rgb(255, 194, 102)"></option>
                <option value="rgb(255, 255, 102)"></option>
                <option value="rgb(102, 185, 102)"></option>
                <option value="rgb(102, 163, 224)"></option>
                <option value="rgb(194, 133, 255)"></option>
                <option value="rgb(136, 136, 136)"></option>
                <option value="rgb(161, 0, 0)"></option>
                <option value="rgb(178, 107, 0)"></option>
                <option value="rgb(178, 178, 0)"></option>
                <option value="rgb(0, 97, 0)"></option>
                <option value="rgb(0, 71, 178)"></option>
                <option value="rgb(107, 36, 178)"></option>
                <option value="rgb(68, 68, 68)"></option>
                <option value="rgb(92, 0, 0)"></option>
                <option value="rgb(102, 61, 0)"></option>
                <option value="rgb(102, 102, 0)"></option>
                <option value="rgb(0, 55, 0)"></option>
                <option value="rgb(0, 41, 102)"></option>
                <option value="rgb(61, 20, 102)"></option>
              </select><span class="ql-format-separator"></span>
            </div>

            <!-- Create the editor container -->
            <div id="post-editor" class="post-body">
            </div>
            <!-- <textarea class="form-control" id="post-body" rows="10" name="post[message]" placeholder="...post"></textarea> -->
          </div>
          <input type="submit" value="Publish" class="btn btn-info submit-new-post">

        </form>
        <br><br>
        <h4 id="post-box-word-count"></h4>
        <p id="post-error"></p>

      </div>

    </script>

  <!-- Post List Menu -->
    <script type="text/template" id="post-list-menu">
      <!-- <h1 class="post-list-header">Read</h1> -->
      <div class="genre-links">
        <a class="all-sort sort"> All</a> |
        <a class="fiction-sort sort"> Fiction</a> |
        <a class="fantasy-sort sort"> Fantasy</a> |
        <a class="horror-sort sort"> Horror</a> |
        <a class="thriller-sort sort"> Thriller</a> |
        <a class="crime-sort sort"> Crime</a> |
        <a class="romance-sort sort"> Romance</a> |
        <a class="sci-fi-sort sort"> SciFi</a> |
        <a class="non-fiction-sort sort">Non-Fiction</a>
      </div>
    </script>


      <!-- Post  -->
    <script type="text/template" id='post-template'>
      <div class="row">
        <div class="col-xs-2">
          <!-- <div class="show-critiques-box">

          </div> -->
        </div>
        <div class="col-xs-6 col-xs-offset-4">
          <div class="remove-post-box">

          </div>
        </div>
      </div>

      <div class="post-prompt-type">
        <div class="row">
          <div class="col-xs-3">
            <br>
            <br>
              <strong class="prompt-label"> <%%= created_at %></strong>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <div class="col-xs-12">
                <h3 class="prompt-label"><div data-no-turbolink><a href="/users/<%%= user_id %>/posts/<%%= id %>"><%%= title %></a></div></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                 <%%= word_count %> words
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <br>
            <strong class="prompt-label"> <%%= genre %> </strong>
            <br>
            <strong class="prompt-label"><%%= prompt_type %></strong>
            <br>
            <strong class="prompt-label"><%%= prompt_word_count %> word min.</strong>
            <br>
            <strong class="prompt-label"><%%= prompt %></strong>
          </div>
        </div>
      </div>
        <!-- Font Size Controls -->
        <!-- <div class="row">
          <div class="col-xs-12">
            <li class="increase-font">Font ^</li>
            <li class="decrease-font">Font v</li>
          </div>
        </div> -->

        <div class="row">
          <div class="col-xs-4">

            <!-- <strong><%%= prompt_type %></strong> -->
          </div>
          <div class="col-xs-4">
            <div data-no-turbolink>
            <a href="/users/profile/<%%= user_id %>" class="post-author">
                <!-- username rendered here -->
            </a>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <%%= prompt %>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="post-box">
              <p class="posted-message">
                <%%= message %>
              </p>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-xs-12">
            <div class="make-critique-box">

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <h5>Rate this Post</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="rating">
             <span data-rating="1" class="rating1 rating-button">☆</span>
             <span data-rating="2" class="rating2 rating-button">☆</span>
             <span data-rating="3" class="rating3 rating-button">☆</span>
             <span data-rating="4" class="rating4 rating-button">☆</span>
             <span data-rating="5" class="rating5 rating-button">☆</span>
             </div>
          </div>
        </div>

<!-- Critique Form -->
        <div class="row">
          <div class="col-xs-12">
            <div class="new-critique-form">
              <h5 class="text-left">Give Feedback</h5>
            </div>
          </div>
        </div>


    <div class="row">
      <div class="col-xs-12">
        <textarea id="critique-editor" class="post-body"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-1 col-xs-offset-9">
      </div>
      <div class="col-xs-1">
        <button value="Save" class="save-critique btn btn-info">Save</button>
        <input type="hidden" name="critique[post_id]" id="critique-post-id">

      </form>

      </div>
    </div>
  </div>

          <!-- <textarea class= "form-control" id="critique-message" rows="10" name="critique[message]" placeholder="...enter critique"></textarea> -->

        <div class="row">
          <div class="col-xs-2">
            <div class="show-critiques-box">

            </div>
          </div>
          <div class="col-xs-6 col-xs-offset-4">

          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="critiques-list">

            </div>
          </div>
        </div>


          <!-- Confirm Post Delete Modal -->
          <div class="modal" id="deletePost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                  Do you wish to delete this post?
                  <br>
                  <br>
                  <%%= title %>
                  <br>
                  <br>
                  <%%= message %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary delete-post">Yes</button>
                </div>
              </div>
            </div>
          </div>

      </div>



    </script>


      <!-- Critique -->
      <script type="text/template" id="critique-template">

            <div class="row">

            </div>

            <div class="row">
              <div class="col-xs-1 col-xs-offset-10">
                <div class="edit-critique-box">

                </div>
              </div>
              <div class="col-xs-1">
                <div class="remove-critique-box">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="critique-message">
                    <%%= message %>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-1">

              </div>
              <div class="col-xs-1 col-xs-offset-9 text-right">
                <img src="<%%= image_url %>" class="critique-profile-picture img-circle"></img>
              </div>
              <div class="col-xs-1 text-left">
                <%%= username %>
              </div>

            </div>



            <!-- Confirm Critique Delete Modal -->
            <div class="modal" id="deleteCritique" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                  </div>
                  <div class="modal-body">
                    Do you wish to delete your critique?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary delete-critique">Yes</button>
                  </div>
                </div>
              </div>
            </div>
          </script>

        <!-- Critique Form -->
          <script type="text/template" id="critique-form-template">

            <!-- <div class="row">
              <div class="col-xs-12">
                <div class="new-critique-form">
                  <h5 class="text-left">Edit Critique</h5>
                  <form id="create-critique">
                    <input type="hidden" name="critique[user_id]" value="<%= @user.id %>">
                    <div id="full-toolbar">
                      <span class="ql-format-group">
                        <span title="Bold" class="ql-format-button ql-bold"></span>
                        <span class="ql-format-separator"></span>
                        <span title="Italic" class="ql-format-button ql-italic"></span>
                        <span class="ql-format-separator"></span>
                        <span title="Underline" class="ql-format-button ql-underline"></span>
                      <select title="Text Color" class="ql-color">
                        <option value="rgb(0, 0, 0)" selected></option>
                        <option value="rgb(230, 0, 0)"></option>
                        <option value="rgb(255, 153, 0)"></option>
                        <option value="rgb(255, 255, 0)"></option>
                        <option value="rgb(0, 138, 0)"></option>
                        <option value="rgb(0, 102, 204)"></option>
                        <option value="rgb(153, 51, 255)"></option>
                        <option value="rgb(255, 255, 255)"></option>
                        <option value="rgb(250, 204, 204)"></option>
                        <option value="rgb(255, 235, 204)"></option>
                        <option value="rgb(255, 255, 204)"></option>
                        <option value="rgb(204, 232, 204)"></option>
                        <option value="rgb(204, 224, 245)"></option>
                        <option value="rgb(235, 214, 255)"></option>
                        <option value="rgb(187, 187, 187)"></option>
                        <option value="rgb(240, 102, 102)"></option>
                        <option value="rgb(255, 194, 102)"></option>
                        <option value="rgb(255, 255, 102)"></option>
                        <option value="rgb(102, 185, 102)"></option>
                        <option value="rgb(102, 163, 224)"></option>
                        <option value="rgb(194, 133, 255)"></option>
                        <option value="rgb(136, 136, 136)"></option>
                        <option value="rgb(161, 0, 0)"></option>
                        <option value="rgb(178, 107, 0)"></option>
                        <option value="rgb(178, 178, 0)"></option>
                        <option value="rgb(0, 97, 0)"></option>
                        <option value="rgb(0, 71, 178)"></option>
                        <option value="rgb(107, 36, 178)"></option>
                        <option value="rgb(68, 68, 68)"></option>
                        <option value="rgb(92, 0, 0)"></option>
                        <option value="rgb(102, 61, 0)"></option>
                        <option value="rgb(102, 102, 0)"></option>
                        <option value="rgb(0, 55, 0)"></option>
                        <option value="rgb(0, 41, 102)"></option>
                        <option value="rgb(61, 20, 102)"></option>
                      </select><span class="ql-format-separator"></span>
                      <select title="Background Color" class="ql-background">
                        <option value="rgb(0, 0, 0)"></option>
                        <option value="rgb(230, 0, 0)"></option>
                        <option value="rgb(255, 153, 0)"></option>
                        <option value="rgb(255, 255, 0)"></option>
                        <option value="rgb(0, 138, 0)"></option>
                        <option value="rgb(0, 102, 204)"></option>
                        <option value="rgb(153, 51, 255)"></option>
                        <option value="rgb(255, 255, 255)" selected></option>
                        <option value="rgb(250, 204, 204)"></option>
                        <option value="rgb(255, 235, 204)"></option>
                        <option value="rgb(255, 255, 204)"></option>
                        <option value="rgb(204, 232, 204)"></option>
                        <option value="rgb(204, 224, 245)"></option>
                        <option value="rgb(235, 214, 255)"></option>
                        <option value="rgb(187, 187, 187)"></option>
                        <option value="rgb(240, 102, 102)"></option>
                        <option value="rgb(255, 194, 102)"></option>
                        <option value="rgb(255, 255, 102)"></option>
                        <option value="rgb(102, 185, 102)"></option>
                        <option value="rgb(102, 163, 224)"></option>
                        <option value="rgb(194, 133, 255)"></option>
                        <option value="rgb(136, 136, 136)"></option>
                        <option value="rgb(161, 0, 0)"></option>
                        <option value="rgb(178, 107, 0)"></option>
                        <option value="rgb(178, 178, 0)"></option>
                        <option value="rgb(0, 97, 0)"></option>
                        <option value="rgb(0, 71, 178)"></option>
                        <option value="rgb(107, 36, 178)"></option>
                        <option value="rgb(68, 68, 68)"></option>
                        <option value="rgb(92, 0, 0)"></option>
                        <option value="rgb(102, 61, 0)"></option>
                        <option value="rgb(102, 102, 0)"></option>
                        <option value="rgb(0, 55, 0)"></option>
                        <option value="rgb(0, 41, 102)"></option>
                        <option value="rgb(61, 20, 102)"></option>
                      </select><span class="ql-format-separator"></span>
                    </div>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-xs-12">
              <!-- Create the editor container -->
              <textarea id="edit-critique" class="post-body"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1 col-xs-offset-10">
              <a class="close-critique">cancel</button>
            </div>
            <div class="col-xs-1">
              <span class="save-edited-critique btn btn-info">Save</span>
            </div>
          </div>
                <!-- <textarea class= "form-control" id="critique-message" rows="10" name="critique[message]" placeholder="...enter critique"></textarea> -->
                <input type="hidden" name="critique[post_id]" id="critique-post-id">
              </form>
            </div>
        </script>

    <!-- Render Prompt Form -->

    <script type="text/template" id="friend-view-template">
      <h3><%%= friend_name %></h3>
      <button type="button" class="btn btn-danger remove-friend">Remove Friend</button>
      <button type="button" class="btn btn-info make-challenge">Issue Challenge</button>
      <button type="button" class="btn btn-info show-challenges">Show Challenges</button>
      <div id="challenge-list">

      </div>
    </script>

    <script type="text/template" id="follower-view-template">
      <h3><%%= username %></h3>
    </script>



    <script type="text/template" id="user-view-template">
      <h3 class="user-name-header"><img src="<%%= image_url %>" class="img-circle profile-picture"</><%%= username %></h3>
      <form>
        <button type="button" class="btn btn-danger add-friend">Add Friend</button>
        <input type="hidden" name="friendship[friend_id]" value="<%%= id %>" class="friend-id-holder">
        <input type="hidden" name="friendship[user_id]" value="<%= @user.id %>" class="user-id-holder">
      </form>

    </script>

    <script type="text/template" id="friend-button-template">
      <button type="button" class="btn btn-danger show-friends">Show Friends</button>
    </script>




<script type="text/template" id="challenge-form-template">
  <div class="new-post-box">

    <!-- <div id="stopwatch">0:0:0</div>
        <div id="controls">
          <button id="start">Start</button>
          <but  ton id="stop">Stop</button>
          <button id="reset">Reset</button>
        </div> -->



    <div id="challenge-container">
    </div>
        <label for="choose-type">Choose Type</label>
        <select class="form-control input-lg" id="choose-type">
            <option data-id="1">One Word</option>
            <option data-id="2">What If</option>
            <option data-id="3">3</option>
            <option data-id="4">4</option>
            <option data-id="5">5</option>
        </select>
        <button class="render-challenge btn btn-primary btn-lg btn-block">Render Challenge</button>
        <form id="create-challenge">
          Word Count: <p id="word-count"></p>
            <input id="challenge-word-count" type="hidden" name=challenge[word_count] value="25"/>
            <div id="slider-challenge-word-count"></div>

    <!-- <button class="btn btn-danger send-challenge">Send Challenge</button> -->
    <input type="submit" value="Send Challenge" class="btn btn-danger send-challenge">
        </form>


  </div>
</script>

    <script type="text/template" id="challenge-template">
      <div class="challenge-message">
          <%%= prompt %>
          <%%= word_count %>
          <%%= status %>
          <%%= message %>
        <button type="button" class='remove-challenge btn btn-danger'>Cancel</button>

      </div>
    </script>

    <script type="text/template" id="received-challenge-template">
      <div class="challenge-message">
          <%%= prompt_type %>
          <br>
          <%%= prompt %>|<%%= word_count %>
          <button type="button" class='accept-challenge btn btn-info'>Accept</button>
        <button type="button" class='remove-challenge btn btn-danger'>Deny </button>

      </div>
    </script>

    <script type="text/template" id="completed-challenge-template">
      <div class="post-prompt-type">
        <strong><%%= prompt_type %></strong>
        <%%= prompt %> | <%%= word_count %> words
      </div>
      <div class="completed-challenge-message">
          <%%= message %><br>
      </div>
    </script>

    <script type="text/template" id="accept-challenge-form-template">
      <div class="new-post-box">

        <!-- <div id="stopwatch">0:0:0</div>
            <div id="controls">
              <button id="start">Start</button>
              <but  ton id="stop">Stop</button>
              <button id="reset">Reset</button>
            </div> -->
        <div id="challenge-type"></div>
        <div id="challenge-container"></div>
        <div id="challenge-word-count"></div>
        <div id="current-challenge-word-count">        </div>

        <p id="challenge-error"></p>


            <form id="challenge-accept-form">

              <div class="form-group">
                <div id="full-toolbar">
                  <!-- Add a bold button -->
                  <span class="ql-format-group">
                    <span title="Bold" class="ql-format-button ql-bold"></span>
                    <span class="ql-format-separator"></span>
                    <span title="Italic" class="ql-format-button ql-italic"></span>
                    <span class="ql-format-separator"></span>
                    <span title="Underline" class="ql-format-button ql-underline"></span>
                  <select title="Text Color" class="ql-color">
                    <option value="rgb(0, 0, 0)" selected></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)"></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                  <select title="Background Color" class="ql-background">
                    <option value="rgb(0, 0, 0)"></option>
                    <option value="rgb(230, 0, 0)"></option>
                    <option value="rgb(255, 153, 0)"></option>
                    <option value="rgb(255, 255, 0)"></option>
                    <option value="rgb(0, 138, 0)"></option>
                    <option value="rgb(0, 102, 204)"></option>
                    <option value="rgb(153, 51, 255)"></option>
                    <option value="rgb(255, 255, 255)" selected></option>
                    <option value="rgb(250, 204, 204)"></option>
                    <option value="rgb(255, 235, 204)"></option>
                    <option value="rgb(255, 255, 204)"></option>
                    <option value="rgb(204, 232, 204)"></option>
                    <option value="rgb(204, 224, 245)"></option>
                    <option value="rgb(235, 214, 255)"></option>
                    <option value="rgb(187, 187, 187)"></option>
                    <option value="rgb(240, 102, 102)"></option>
                    <option value="rgb(255, 194, 102)"></option>
                    <option value="rgb(255, 255, 102)"></option>
                    <option value="rgb(102, 185, 102)"></option>
                    <option value="rgb(102, 163, 224)"></option>
                    <option value="rgb(194, 133, 255)"></option>
                    <option value="rgb(136, 136, 136)"></option>
                    <option value="rgb(161, 0, 0)"></option>
                    <option value="rgb(178, 107, 0)"></option>
                    <option value="rgb(178, 178, 0)"></option>
                    <option value="rgb(0, 97, 0)"></option>
                    <option value="rgb(0, 71, 178)"></option>
                    <option value="rgb(107, 36, 178)"></option>
                    <option value="rgb(68, 68, 68)"></option>
                    <option value="rgb(92, 0, 0)"></option>
                    <option value="rgb(102, 61, 0)"></option>
                    <option value="rgb(102, 102, 0)"></option>
                    <option value="rgb(0, 55, 0)"></option>
                    <option value="rgb(0, 41, 102)"></option>
                    <option value="rgb(61, 20, 102)"></option>
                  </select><span class="ql-format-separator"></span>
                </div>
                <!-- Create the editor container -->
                <div id="challenge-editor" class="challenge-body">
                </div>
                <br>
                <!-- <textarea class="form-control" id="challenge-body" rows="10" name="post[message]" placeholder="...post"></textarea> -->
              </div>
        <!-- <button class="btn btn-danger send-challenge">Send Challenge</button> -->
        <!-- <input type="submit" value="Submit" class="btn btn-danger submit-challenge"> -->
            <input type="submit" class='submit-challenge btn btn-danger' value="Submit"></button>

            </form>


      </div>
    </script>

</head>


<body id="main-page">
  <div class="container-fluid" >

    <%= yield %>

  </div>
  <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>

</body>
</html>
